force-app/main/default/flows/Abstrakt_Role_User_Details_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>is the role on the esc different than on the Abstrakt Role Details</description>
        <name>Role_Changed</name>
        <label>Role Changed</label>
        <locationX>161</locationX>
        <locationY>555</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_Role_Title__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Abstrakt_Role_User_Detail.Abstrakt_Role__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Abstrakt_Role_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DevOps Test - Danielle added create element: &quot;Danielle Test&quot;</description>
    <environments>Default</environments>
    <formulas>
        <description>Populate Abstrakt Role User Detail Name on new record</description>
        <name>forAbstraktRoleUserName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Employee_Name_formula__c}+&quot; - &quot;+{!$Record.New_Role_Title__r.Name}</expression>
    </formulas>
    <interviewLabel>Abstrakt Role User Details: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Abstrakt Role User Details: Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Brad_Test</name>
        <label>Brad Test</label>
        <locationX>633</locationX>
        <locationY>647</locationY>
        <inputReference>$Record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Abstrakt_Role_User_Detail</name>
        <label>Create New Abstrakt Role User Detail</label>
        <locationX>172</locationX>
        <locationY>966</locationY>
        <inputAssignments>
            <field>A_Player_Scorecard__c</field>
            <value>
                <elementReference>Get_User_Scorecard.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Abstrakt_Role__c</field>
            <value>
                <elementReference>$Record.New_Role_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forAbstraktRoleUserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Employee_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.Employee_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Abstrakt_Role_User_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Danielle_Test</name>
        <label>Danielle Test</label>
        <locationX>585</locationX>
        <locationY>174</locationY>
        <inputReference>$Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Abstrakt_Role_User_Detail</name>
        <label>Abstrakt Role User Detail</label>
        <locationX>173</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Role_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee_Name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Abstrakt_Role_User_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Scorecard</name>
        <label>Get User Scorecard</label>
        <locationX>168</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Abstrakt_Role_User_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User_Scorecard__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Abstrakt_Role_Details</name>
        <label>Update Current Abstrakt Role Details</label>
        <locationX>166</locationX>
        <locationY>688</locationY>
        <connector>
            <targetReference>Get_User_Scorecard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Abstrakt_Role_User_Detail__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Abstrakt_Role_User_Detail</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124w000001YpvxAAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>HR_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </filters>
        <object>ESC__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
