force-app/main/default/flows/Additional_Scorecard_Process_Audit_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends email when status is complete</description>
        <name>Bionic_Appointment_Scorecard_Alert</name>
        <label>Bionic Appointment Scorecard Alert</label>
        <locationX>915</locationX>
        <locationY>702</locationY>
        <actionName>MAP_Scorecard__c.Additional_Scorecard_Bionic_Appointment_Scorecard_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Bionic_Content_Scorecard_Email</name>
        <label>Bionic Content Scorecard Email</label>
        <locationX>934</locationX>
        <locationY>915</locationY>
        <actionName>MAP_Scorecard__c.Additional_Scorecard_Sapper_Content_Scorecard</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Record Type: Bionic Implementing Call Scorecard</description>
        <name>Bionic_Implementing_Call_Scorecard_Completed_Alert</name>
        <label>Bionic Implementing Call Scorecard Completed Alert</label>
        <locationX>258</locationX>
        <locationY>703</locationY>
        <actionName>MAP_Scorecard__c.Bionic_Implementing_Call_Scorecard_Completed_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Collateral_Status_Change_Email</name>
        <label>Collateral Status Change Email</label>
        <locationX>2220</locationX>
        <locationY>202</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textCollateralEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varCollateralEmailRecipientSingle.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.LastModifiedBy.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Please Review: Collateral Review Scorecard | {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Outbound_Inbox_Audit_Complete</name>
        <label>Outbound Inbox Audit Complete</label>
        <locationX>1420</locationX>
        <locationY>1151</locationY>
        <actionName>MAP_Scorecard__c.Additional_Scorecard_Outbound_Inbox_Audit_Complete</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Process_Audit_Completed_Alert</name>
        <label>Process Audit Completed Alert</label>
        <locationX>894</locationX>
        <locationY>1088</locationY>
        <actionName>MAP_Scorecard__c.Additional_Scorecard_Process_Audit_Completed_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sapper_MRM_Email_Alert</name>
        <label>Sapper MRM Email Alert</label>
        <locationX>314</locationX>
        <locationY>891</locationY>
        <actionName>MAP_Scorecard__c.Additional_Scorecard_Sapper_MRM_Scorecard</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sapper_Wrap_Up_Scorecard_Email</name>
        <label>Sapper Wrap Up Scorecard Email</label>
        <locationX>475</locationX>
        <locationY>1084</locationY>
        <actionName>MAP_Scorecard__c.Additional_Scorecard_Sapper_WrapUp_Scorecard</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Design_Proofer_Email</name>
        <label>Assign Design Proofer Email</label>
        <locationX>1692</locationX>
        <locationY>128</locationY>
        <assignmentItems>
            <assignToReference>varCollateralEmailRecipientSingle.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Design_Proofer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collateral_Status_Change_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Editor_Final_QA_Email</name>
        <label>Assign Editor Final QA Email</label>
        <locationX>1756</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>varCollateralEmailRecipientSingle.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Editor_Final_QA__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collateral_Status_Change_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Manager_Email</name>
        <label>Assign Manager Email</label>
        <locationX>1539</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>varCollateralEmailRecipientSingle.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collateral_Status_Change_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Producer_Email</name>
        <label>Assign Producer Email</label>
        <locationX>1636</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>varCollateralEmailRecipientSingle.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Producer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collateral_Status_Change_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Manager_Email</name>
        <label>Assign Project Manager Email</label>
        <locationX>1508</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>varCollateralEmailRecipientSingle.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collateral_Status_Change_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Additional_Scorecard_Record_Type</name>
        <label>Additional Scorecard Record Type</label>
        <locationX>579</locationX>
        <locationY>892</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Process_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124w000001Yq41AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Manager</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Process Audit</label>
        </rules>
        <rules>
            <name>Bionic_Content_Scorecard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124w000001BX0JAAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bionic_Content_Scorecard_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Bionic Content Scorecard</label>
        </rules>
        <rules>
            <name>Sapper_MRM_Scorecard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124w000001YqE4AAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sapper_MRM_Score__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sapper_MRM_Email_Alert</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Sapper MRM Scorecard</label>
        </rules>
        <rules>
            <name>Sapper_Wrap_Up_Scorecard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124w000001YqE5AAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sapper_Wrap_Up_Score__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sapper_Wrap_Up_Scorecard_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Sapper Wrap-Up Scorecard</label>
        </rules>
        <rules>
            <name>Bionic_Appointment_Scorecard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124w000001YvxvAAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bionic_Appointment_Scorecard_Alert</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Bionic Appointment Scorecard</label>
        </rules>
        <rules>
            <name>Bionic_Implementing_Call_Scorecard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124w000001Yw3UAAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bionic_Implementing_Call_Scorecard_Completed_Alert</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Bionic Implementing Call Scorecard</label>
        </rules>
        <rules>
            <name>Outbound_Inbox_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124w000001NbGJAA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outbound_Inbox_Audit_Complete</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Outbound Inbox Audit</label>
        </rules>
        <rules>
            <name>Collateral_Status_Changed</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 ) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design Proofer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Editor Final QA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Senior Final QA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124w000001NbEvAAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Collateral Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Status</name>
        <label>Which Status?</label>
        <locationX>1412</locationX>
        <locationY>282</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Marketing_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Manager_Email</targetReference>
            </connector>
            <label>Marketing Manager</label>
        </rules>
        <rules>
            <name>Design_Proofer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design Proofer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Design_Proofer_Email</targetReference>
            </connector>
            <label>Design Proofer</label>
        </rules>
        <rules>
            <name>Editor_Final_QA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Editor Final QA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Editor_Final_QA_Email</targetReference>
            </connector>
            <label>Editor Final QA</label>
        </rules>
        <rules>
            <name>Video_Producer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Video Producer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Producer_Email</targetReference>
            </connector>
            <label>Video Producer</label>
        </rules>
        <rules>
            <name>Senior_Final_QA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Senior Final QA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Manager_Email</targetReference>
            </connector>
            <label>Senior Final QA</label>
        </rules>
    </decisions>
    <description>Deleted Collateral Review alerts and created new send email action/ body and status decision

( Noted before 3/22 QA refresh)
Record Type IDs for the following 2 record types are different in all 3 orgs. The other Ids are the same
1) Collateral Review Scorecard
PROD: 0124w000001NbEvAAK
FULL:0128D000001KeAtQAK
QA: 0127e000001Um0fAAC

2) Outbound Inbox Audit
PROD | 0124w000001NbGJAA0
FULL | 0128D000001LOioQAG
QA | 0127e000001VVSrAAO</description>
    <environments>Default</environments>
    <interviewLabel>Additional Scorecard: Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Additional Scorecard: Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Manager</name>
        <label>Update Manager</label>
        <locationX>706</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Process_Audit_Completed_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>$Record.Employee__r.Manager.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>454</locationX>
        <locationY>512</locationY>
        <connector>
            <targetReference>Additional_Scorecard_Record_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 9 OR 11 OR 14) AND (6 OR 7 OR 8 OR 10 OR 12 OR 13 OR 8)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124w000001Yq41AAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124w000001BX0JAAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124w000001YqE4AAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124w000001YqE5AAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124w000001YvxvAAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sapper_MRM_Score__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Sapper_Wrap_Up_Score__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124w000001Yw3UAAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Bionic_Appointment_Score__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124w000001NbEvAAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Part 1-5 Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Part 6 Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124w000001NbGJAA0</stringValue>
            </value>
        </filters>
        <object>MAP_Scorecard__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>body of the email for the Collateral Review Scorecard record type</description>
        <name>textCollateralEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://amg--dhorbyk.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0687j000001u1hE?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Small Captain Abstrakt Logo (1).png&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;{!$Record.Status__c}, &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Please complete your part of the Collateral Review Scorecard.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;{!$Record.Name}&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://amg.lightning.force.com/lightning/r/Inbound_Content__c/{!$Record.Related_Creative_Content__r.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Creative Content Link&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://amg.lightning.force.com/lightning/r/MAP_Scorecard__c/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Click to Review Scorecard in Salesforce&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtSapperMRMBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: arial;&quot;&gt;{!$Record.Account_Owner__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial;&quot;&gt;Please review your completed scorecard details&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://amg.lightning.force.com/lightning/r/MAP_Scorecard__c/%7B!$Record.Id%7D/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: arial;&quot;&gt;HERE&lt;/a&gt;&lt;span style=&quot;font-family: arial;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Scorecard Name:&lt;/strong&gt;&amp;nbsp;{!$Record.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sapper MRM Score:&amp;nbsp;&lt;/strong&gt;{!$Record.Sapper_MRM_Score__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Overall Feedback&lt;/strong&gt;&lt;strong style=&quot;font-family: arial;&quot;&gt;:&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-family: arial;&quot;&gt;{!$Record.Overall_Feedback__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varCollateralEmailRecipientCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varCollateralEmailRecipientSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
