force-app/main/default/flows/Additional_Scorecard_Bionic_Inbox_Audit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Bionic_Inbox_Audit_Email_Alert</name>
        <label>Bionic Inbox Audit Email Alert</label>
        <locationX>505</locationX>
        <locationY>576</locationY>
        <actionName>MAP_Scorecard__c.Additional_Scorecard_Bionic_Inbox_Audit_Scorecard</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varNewAudit</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Inbox_Performance_Email</name>
        <label>Inbox Performance Email</label>
        <locationX>496</locationX>
        <locationY>906</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtSOAEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Account.Operations_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>txtEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>choiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Inbox_Performing</name>
        <label>Is Inbox Performing</label>
        <locationX>488</locationX>
        <locationY>781</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_the_Inbox_Performing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inbox_Performance_Email</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Added the scrumming feedback to the create records node</description>
    <environments>Default</environments>
    <formulas>
        <name>forTODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Additional Scorecard: Bionic Inbox Audit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Additional Scorecard: Bionic Inbox Audit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Bionic_Inbox_Audit</name>
        <label>Create Bionic Inbox Audit</label>
        <locationX>502</locationX>
        <locationY>429</locationY>
        <assignRecordIdToReference>varNewAudit</assignRecordIdToReference>
        <connector>
            <targetReference>Bionic_Inbox_Audit_Email_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Owner__c</field>
            <value>
                <elementReference>Get_Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Needed__c</field>
            <value>
                <elementReference>Action_Needed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Feedback__c</field>
            <value>
                <elementReference>Additional_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_there_missed_leads_in_the_inbox__c</field>
            <value>
                <elementReference>Are_there_missed_leads_in_the_inbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audited_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audited_Date__c</field>
            <value>
                <elementReference>forTODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller__c</field>
            <value>
                <elementReference>Get_Account.Current_PSR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Director__c</field>
            <value>
                <elementReference>Get_Account.Sales_Manager_Director__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Inbox_Folder_Management_Feedback__c</field>
            <value>
                <elementReference>Appropriate_Folder_Feedback_Needed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Response_Feedback__c</field>
            <value>
                <elementReference>Email_Response_Feedback_Improvement_Needed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_reschedules_been_followed_up_with__c</field>
            <value>
                <elementReference>Have_all_reschedules_been_followed_up_with</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inbox_Tech_Setup_Feedback__c</field>
            <value>
                <elementReference>Email_Response_Feedback_Improvement_Needed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inbox_has_required_templates_folders__c</field>
            <value>
                <elementReference>Does_the_inbox_have_all_required_templates_and_folders</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_scrumming_schedule_being_followed__c</field>
            <value>
                <elementReference>Is_scrumming_schedule_being_followed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_the_inbox_performing__c</field>
            <value>
                <elementReference>Is_the_Inbox_Performing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_the_tech_setup_of_the_inbox_correct__c</field>
            <value>
                <elementReference>Is_the_tech_setup_of_the_inbox_correct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_of_Leads_to__c</field>
            <value>
                <elementReference>List_of_Rescheduled_Needed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_of_prospects_missed_action_needed__c</field>
            <value>
                <elementReference>List_the_names_of_prospects_missed_and_action_needed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>txtAuditName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operations_Analyst__c</field>
            <value>
                <elementReference>Get_Account.Operations_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Performance_Manager__c</field>
            <value>
                <elementReference>Get_Account.Assistant_Partner_Sales_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124w000001Yw2bAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Required_templates_and_folders__c</field>
            <value>
                <elementReference>Templates_and_Folders_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scrumming_Schedule_Feedback__c</field>
            <value>
                <elementReference>Scrumming_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Was_every_email_responded_to__c</field>
            <value>
                <elementReference>Was_every_email_responded_to</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Were_email_inboxes_in_the_right_folders__c</field>
            <value>
                <elementReference>Was_every_email_inboxed_in_the_appropriate_folder</elementReference>
            </value>
        </inputAssignments>
        <object>MAP_Scorecard__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>497</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bionic_Inbox_Audit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Bionic_Inbox_Audit</name>
        <label>Bionic Inbox Audit</label>
        <locationX>498</locationX>
        <locationY>320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Bionic_Inbox_Audit</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Was_every_email_responded_to</name>
            <choiceReferences>ChoiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Was every email responded to within 24 hours?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_Response_Feedback_Improvement_Needed</name>
            <fieldText>Feedback / Improvement Needed</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Was_every_email_responded_to</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Was_every_email_inboxed_in_the_appropriate_folder</name>
            <choiceReferences>ChoiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Was Every Email Inbox in the Appropriate Folder?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appropriate_Folder_Feedback_Needed</name>
            <fieldText>Feedback / Improvement Needed</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Was_every_email_inboxed_in_the_appropriate_folder</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_the_Inbox_Performing</name>
            <choiceReferences>ChoiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Is the Inbox Performing?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Action_Needed</name>
            <fieldText>Action Needed</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_the_Inbox_Performing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_scrumming_schedule_being_followed</name>
            <choiceReferences>ChoiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Is scrumming schedule being followed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Scrumming_Feedback</name>
            <fieldText>Feedback / Improvement Needed</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_scrumming_schedule_being_followed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Does_the_inbox_have_all_required_templates_and_folders</name>
            <choiceReferences>ChoiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Does the inbox have all required templates and folders?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Templates_and_Folders_Feedback</name>
            <fieldText>Feedback / Improvement Needed</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Does_the_inbox_have_all_required_templates_and_folders</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_the_tech_setup_of_the_inbox_correct</name>
            <choiceReferences>ChoiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Is the tech setup of the inbox correct?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tech_Setup_Feedback</name>
            <fieldText>Improvements Needed</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_the_tech_setup_of_the_inbox_correct</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Are_there_missed_leads_in_the_inbox</name>
            <choiceReferences>ChoiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Are there missed leads in the inbox?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>List_the_names_of_prospects_missed_and_action_needed</name>
            <fieldText>List the names of prospects missed and action needed</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_there_missed_leads_in_the_inbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Have_all_reschedules_been_followed_up_with</name>
            <choiceReferences>ChoiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Have all reschedules been followed up with?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>List_of_Rescheduled_Needed</name>
            <fieldText>List the names of prospects missed and action needed</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Have_all_reschedules_been_followed_up_with</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_Feedback</name>
            <fieldText>Additional Feedback</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtAuditName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_Account.Name} Inbox Audit - {!forTODAY}</text>
    </textTemplates>
    <textTemplates>
        <name>txtEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_Account.Name} Inbox Action Needed</text>
    </textTemplates>
    <textTemplates>
        <name>txtSOAEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!Get_Account.Operations_Manager__r.FirstName},&lt;/p&gt;&lt;p&gt;Action is needed for {!Get_Account.Name}&apos;s inbox. Please review the feedback from {!$User.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$User.LastName}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Action Needed:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Action_Needed}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://amg.lightning.force.com/lightning/r/MAP_Scorecard__c/{!varNewAudit}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Link to Audit&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewAudit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
