force-app/main/default/flows/AMC_Project_Record_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Asign_Registrar_Login_Information</name>
        <label>Assign Registrar Login Information</label>
        <locationX>1125</locationX>
        <locationY>1006</locationY>
        <assignmentItems>
            <assignToReference>varAccountrecord.Registrar_Login_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Registrar_Login_Information__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountrecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.amc__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_we_need_to_update_the_account_page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_45_Days</name>
        <label>Assign 45 Days</label>
        <locationX>528</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>varMilestoneRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Milestones.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMilestoneRecord.amc__Milestone_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for45Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProject.Deadline_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for45Days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Milestone_Deadline_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_90_Days</name>
        <label>Assign 90 Days</label>
        <locationX>376</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>varMilestoneRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Milestones.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMilestoneRecord.amc__Milestone_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for90Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProject.Deadline_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for90Days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Milestone_Deadline_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Google_Doc_Link</name>
        <label>Assign Google Doc Link</label>
        <locationX>1132</locationX>
        <locationY>729</locationY>
        <assignmentItems>
            <assignToReference>varAccountrecord.Google_Doc_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Google_Doc_Link__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountrecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.amc__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Social_Media_Login_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Social_Media_Login</name>
        <label>Assign Social Media Login</label>
        <locationX>1133</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>varAccountrecord.Social_Media_Login_Info__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Social_Media_Login_Info__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountrecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.amc__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Registrar_Login_Information</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_we_need_to_update_the_account_page</name>
        <label>Do we need to update the account page</label>
        <locationX>1002</locationX>
        <locationY>1180</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountrecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Page</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Google_Doc_Link</name>
        <label>Google Doc Link</label>
        <locationX>921</locationX>
        <locationY>732</locationY>
        <defaultConnector>
            <targetReference>Social_Media_Login_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Google_Doc_Link_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Google_Doc_Link__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Google_Doc_Link</targetReference>
            </connector>
            <label>Google Doc Link Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Kick_Off_Date_Populated</name>
        <label>Kick Off Date Populated</label>
        <locationX>503</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Site_Build_90_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.amc__Sub_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Site Build</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Kick_Off_Meeting_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_90_Days</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New Site Build - 90 Days</label>
        </rules>
        <rules>
            <name>SEO_Only_45_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.amc__Sub_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEO Content Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Kick_Off_Meeting_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_45_Days</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>SEO Only - 45 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registrar_Login_Information</name>
        <label>Registrar Login Information</label>
        <locationX>942</locationX>
        <locationY>1048</locationY>
        <defaultConnector>
            <targetReference>Do_we_need_to_update_the_account_page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Registrar_Login_Information_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Registrar_Login_Information__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asign_Registrar_Login_Information</targetReference>
            </connector>
            <label>Registrar Login Information Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Social_Media_Login_Info</name>
        <label>Social Media Login Info</label>
        <locationX>929</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Registrar_Login_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Social_Media_Login_Info_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Social_Media_Login_Info__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Social_Media_Login</targetReference>
            </connector>
            <label>Social Media Login Info Changed</label>
        </rules>
    </decisions>
    <description>Update the account page from the amc project</description>
    <environments>Default</environments>
    <formulas>
        <name>for45Days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Kick_Off_Meeting_Date__c}+45</expression>
    </formulas>
    <formulas>
        <name>for90Days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Kick_Off_Meeting_Date__c}+90</expression>
    </formulas>
    <interviewLabel>AMC Project: Record Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AMC Project: Record Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>754</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Google_Doc_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.amc__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestones</name>
        <label>Get Milestones</label>
        <locationX>500</locationX>
        <locationY>394</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Kick_Off_Date_Populated</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>amc__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Launch Phase</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Go Live Phase</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>amc__Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Page</name>
        <label>Update Account Page</label>
        <locationX>1024</locationX>
        <locationY>1322</locationY>
        <inputReference>varAccountrecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestone_Deadline_Date</name>
        <label>Update Milestone Deadline Date</label>
        <locationX>469</locationX>
        <locationY>891</locationY>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
        <inputReference>varMilestoneRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>472</locationX>
        <locationY>1047</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <inputReference>varProject</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Milestones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124A000001USr3QAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>amc__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>amc__Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varMilestoneRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>amc__Milestone__c</objectType>
    </variables>
    <variables>
        <name>varProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>amc__Project__c</objectType>
    </variables>
</Flow>
