force-app/main/default/flows/Client_Setup_Sheet_Bionic_CSS_Approved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <description>Added Appointment Guarantee and # of Guaranteed Appointments to the update records node</description>
    <environments>Default</environments>
    <formulas>
        <name>forProgramSize</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!$Record.Program_Size__c}))</expression>
        <scale>1</scale>
    </formulas>
    <interviewLabel>Client Setup Sheet: Bionic CSS Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Setup Sheet: Bionic CSS Approved</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Client_Information_Document</name>
        <label>Create Client Information Document</label>
        <locationX>480</locationX>
        <locationY>509</locationY>
        <inputAssignments>
            <field>Account_Owner__c</field>
            <value>
                <elementReference>$Record.Implementation_Project_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Affiliated_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Time_Zone__c</field>
            <value>
                <elementReference>$Record.Time_Zone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Client_Contact_s_Email__c</field>
            <value>
                <elementReference>$Record.Client_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Client_Contact_s_Location__c</field>
            <value>
                <elementReference>txtLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Client_Contact_s_Name__c</field>
            <value>
                <elementReference>txtMainContactName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Client_Contact_s_Phone__c</field>
            <value>
                <elementReference>$Record.Client_Contact_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>txtQASName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124w000001Yw3ZAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services_Offered__c</field>
            <value>
                <elementReference>$Record.Other_Industry_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Approval_Request__c</field>
            <value>
                <elementReference>$Record.Special_Approval_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website__c</field>
            <value>
                <elementReference>$Record.Website__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_required_special_approval__c</field>
            <value>
                <elementReference>$Record.Implementation_Director_Feedback__c</elementReference>
            </value>
        </inputAssignments>
        <object>Qualified_Appointment_Sheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Related_Account_Page</name>
        <label>Update Related Account Page</label>
        <locationX>497</locationX>
        <locationY>366</locationY>
        <connector>
            <targetReference>Create_Client_Information_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Affiliated_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accounting_Contact_Phone__c</field>
            <value>
                <elementReference>$Record.Billing_Contact_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Guarantees__c</field>
            <value>
                <elementReference>$Record.Additional_Guarantees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency_Services__c</field>
            <value>
                <elementReference>$Record.Agency_Services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment_Guarantee__c</field>
            <value>
                <elementReference>$Record.Appointment_Guarantee_Sapper__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renewal__c</field>
            <value>
                <elementReference>$Record.Auto_Renewal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Billing_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Billing_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Billing_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Billing_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Contact_Name__c</field>
            <value>
                <elementReference>$Record.Billing_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>$Record.Contract_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Out_Clause__c</field>
            <value>
                <elementReference>$Record.Contract_Out_Clause__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Type__c</field>
            <value>
                <elementReference>$Record.Discount_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Client_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Go_Live_Date__c</field>
            <value>
                <elementReference>$Record.Go_Live_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Manager__c</field>
            <value>
                <elementReference>$Record.Implementation_Project_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Start_Date__c</field>
            <value>
                <elementReference>$Record.Contract_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>$Record.Industry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Contact_Phone__c</field>
            <value>
                <elementReference>$Record.Client_Contact_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Contact__c</field>
            <value>
                <elementReference>$Record.Main_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <elementReference>$Record.Payment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Company_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Size__c</field>
            <value>
                <elementReference>forProgramSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep__c</field>
            <value>
                <elementReference>$Record.Sales_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services_Prospecting_for_Client__c</field>
            <value>
                <elementReference>$Record.Other_Industry_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services__c</field>
            <value>
                <elementReference>$Record.Abstrakt_Client_Services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Industry__c</field>
            <value>
                <elementReference>$Record.Source_Industry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>$Record.Website__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X5_Renewal_Increase__c</field>
            <value>
                <elementReference>$Record.X5_Renewal_Increase__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_Guaranteed_Appointments__c</field>
            <value>
                <elementReference>$Record.of_Guaranteed_Appointments_Sapper__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>370</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update_Related_Account_Page</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124w000001Yq8hAAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Director_Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Client_Setup_Sheet__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtLocation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Billing_Street__c}, {!$Record.Billing_City__c}, {!$Record.Billing_State_Province__c}</text>
    </textTemplates>
    <textTemplates>
        <name>txtMainContactName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Main_Contact_First_Name__c} {!$Record.Main_Contact__r.LastName}</text>
    </textTemplates>
    <textTemplates>
        <name>txtQASName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Company_Name__c} - Client Information Document</text>
    </textTemplates>
</Flow>
