force-app/main/default/flows/Contract_Contract_Renewal_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>ChoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceSomewhat</name>
        <choiceText>Somewhat</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <description>Edited the Within budget picklist</description>
    <dynamicChoiceSets>
        <name>ChoiceAutoRenewal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contract_Auto_Renewal__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceBillingPeriod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Period__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePaymentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Type__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Contract: Contract Renewal Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract: Contract Renewal Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Renewal_Contract</name>
        <label>Create New Renewal Contract</label>
        <locationX>591</locationX>
        <locationY>537</locationY>
        <assignRecordIdToReference>varNewContractID</assignRecordIdToReference>
        <connector>
            <targetReference>New_Contract_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contract.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Contract.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Period__c</field>
            <value>
                <elementReference>Billing_Period</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chart_of_Accounts__c</field>
            <value>
                <elementReference>Get_Contract.Chart_of_Accounts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>Contract_Term_months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Auto_Renewal__c</field>
            <value>
                <elementReference>Auto_Renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>Get_Contract.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Product_Service__c</field>
            <value>
                <elementReference>Get_Contract.Description_of_Product_Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Contract_Start_Date__c</field>
            <value>
                <elementReference>Get_Contract.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Licenses__c</field>
            <value>
                <elementReference>Number_of_Licenses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerExpirationNotice</field>
            <value>
                <elementReference>Get_Contract.OwnerExpirationNotice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Contract.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <elementReference>Payment_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>President_Approver__c</field>
            <value>
                <elementReference>Get_Contract.President_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Service_Name__c</field>
            <value>
                <elementReference>Get_Contract.Product_Service_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reasoning_for_Request__c</field>
            <value>
                <elementReference>Get_Contract.Reasoning_for_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Owner__c</field>
            <value>
                <elementReference>Get_Contract.Relationship_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Research_Analysis__c</field>
            <value>
                <elementReference>Get_Contract.Research_Analysis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Contract_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount__c</field>
            <value>
                <elementReference>Total_Amount_by_Billing_Cycle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Price__c</field>
            <value>
                <elementReference>Cost_per_License</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VP_Approval__c</field>
            <value>
                <elementReference>Get_Contract.VP_Approval__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Contact_Information__c</field>
            <value>
                <elementReference>Get_Contract.Vendor_Contact_Information__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Relations_Notes__c</field>
            <value>
                <elementReference>Vendor_Relations_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Type__c</field>
            <value>
                <elementReference>Get_Contract.Vendor_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Website__c</field>
            <value>
                <elementReference>Get_Contract.Vendor_Website__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>W_9_Attached__c</field>
            <value>
                <elementReference>Get_Contract.W_9_Attached__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Within_Budget__c</field>
            <value>
                <elementReference>Within_Budget</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>585</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Renewal_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Contract_Renewal_Screen</name>
        <label>Contract Renewal Screen</label>
        <locationX>586</locationX>
        <locationY>382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Renewal_Contract</targetReference>
        </connector>
        <fields>
            <name>Contract_Renewal_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contract_Renewal_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Contract Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Total_Amount_by_Billing_Cycle</name>
                    <dataType>Currency</dataType>
                    <fieldText>Total Amount by Billing Cycle</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Auto_Renewal</name>
                    <choiceReferences>ChoiceAutoRenewal</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Auto-Renewal</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Number_of_Licenses</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Licenses</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Within_Budget</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Within Budget?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;If Somewhat is selected, provide more detail in Vendor Notes field.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contract_Renewal_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Term_months</name>
                    <dataType>Number</dataType>
                    <fieldText>Contract Term (months)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Billing_Period</name>
                    <choiceReferences>ChoiceBillingPeriod</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Billing Period</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Payment_Type</name>
                    <choiceReferences>ChoicePaymentType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Payment Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Cost_per_License</name>
                    <dataType>Currency</dataType>
                    <fieldText>Cost per License</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Vendor_Relations_Notes</name>
            <fieldText>Vendor Relations Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;Please update anything that is changing upon renewal.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Contract_Link</name>
        <label>New Contract Link</label>
        <locationX>594</locationX>
        <locationY>707</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://amg.lightning.force.com/lightning/r/Contract/{!varNewContractID}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;strong&gt;Click here to see your new record and submit for approval.&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
