force-app/main/default/flows/Contact_New_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_1_to_Number_of_Counties</name>
        <label>Add 1 to Number of Counties</label>
        <locationX>288</locationX>
        <locationY>1539</locationY>
        <assignmentItems>
            <assignToReference>varNumberofCounties</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Count_Counties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_County_Name</name>
        <label>Add County Name</label>
        <locationX>477</locationX>
        <locationY>1926</locationY>
        <assignmentItems>
            <assignToReference>varCountyNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Counties_to_Get_Names.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Passes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_Comma</name>
        <label>Add the Comma</label>
        <locationX>242</locationX>
        <locationY>1768</locationY>
        <assignmentItems>
            <assignToReference>varCountyNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Counties_to_Get_Names</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_Passes</name>
        <label>Number of Passes</label>
        <locationX>477</locationX>
        <locationY>2080</locationY>
        <assignmentItems>
            <assignToReference>varNumberofPasses</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passes_Equals_Count</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceJohnSchwepker</name>
        <choiceText>John Schwepker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>John Schwepker</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceRyanNeumann</name>
        <choiceText>Ryan Neumann</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ryan Neumann</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoAdditionalProduct</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>ElliotNester</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005G0000005cpkJIAQ</stringValue>
        </value>
    </constants>
    <constants>
        <name>JohnSchwepker</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005G0000004KaVCIA0</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Add_Product_to_Price_Book</name>
        <label>Add Product to Price Book</label>
        <locationX>1778</locationX>
        <locationY>1632</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inbound</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creative Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virtual Marketing Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Inbound</targetReference>
            </connector>
            <label>Inbound</label>
        </rules>
        <rules>
            <name>Outbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Make_Outbound_Half_Program</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Outbound</targetReference>
            </connector>
            <label>Outbound</label>
        </rules>
        <rules>
            <name>Combined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Outbound_0_0</targetReference>
            </connector>
            <label>Combined</label>
        </rules>
        <rules>
            <name>Salesforce</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce Consulting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Salesforce_Setup</targetReference>
            </connector>
            <label>Salesforce</label>
        </rules>
        <rules>
            <name>Automotive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Auto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Auto</targetReference>
            </connector>
            <label>Automotive</label>
        </rules>
        <rules>
            <name>Half_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Make_Outbound_Half_Program</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Outbound_Half_Program</targetReference>
            </connector>
            <label>Half Program</label>
        </rules>
        <rules>
            <name>Talent_Solutions_MRR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Staffing MRR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Staffing_MRR</targetReference>
            </connector>
            <label>Talent Solutions MRR</label>
        </rules>
        <rules>
            <name>Talent_Solutions_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Staffing Project</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Staffing_Project</targetReference>
            </connector>
            <label>Talent Solutions Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Product_to_Price_Book_0</name>
        <label>Add Product to Price Book</label>
        <locationX>2465</locationX>
        <locationY>2180</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inbound_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Additional_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Additional_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creative Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Additional_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virtual Marketing Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Inbound_0_0</targetReference>
            </connector>
            <label>Inbound</label>
        </rules>
        <rules>
            <name>Outbound_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Additional_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Outbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Outbound_0</targetReference>
            </connector>
            <label>Outbound</label>
        </rules>
        <rules>
            <name>Combined_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Additional_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Outbound_0_0_0</targetReference>
            </connector>
            <label>Combined</label>
        </rules>
        <rules>
            <name>Salesforce_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Additional_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Additional_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce Consulting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Salesforce_Setup_0</targetReference>
            </connector>
            <label>Salesforce</label>
        </rules>
        <rules>
            <name>Automotive_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Additional_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Auto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Auto_0</targetReference>
            </connector>
            <label>Automotive</label>
        </rules>
        <rules>
            <name>Staffing_Project_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Additional_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Staffing Project</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Staffing_Project_Add</targetReference>
            </connector>
            <label>Staffing - Project - Add</label>
        </rules>
        <rules>
            <name>Staffing_MRR_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Additional_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Staffing MRR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Staffing_MRR_Add</targetReference>
            </connector>
            <label>Staffing MRR - Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Required_Fields_Populated</name>
        <label>Are Required Fields Populated?</label>
        <locationX>337</locationX>
        <locationY>1155</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Contact_Information.Industry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Contact_Information.Title</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Contact_Information.Qualifiers__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Metro_Area</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Populated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Contact_Information.Title</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Contact_Information.Industry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Contact_Information.Qualifiers__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Contact_Information.Metro_Area_Object__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Date_Time_Populated</name>
        <label>Date Time Populated</label>
        <locationX>1580</locationX>
        <locationY>1326</locationY>
        <defaultConnector>
            <targetReference>Include_Assets_Sales_Tool_Kit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appointment_Date_Time</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Pitch_for_New_Opp</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Existing_Opportunity</name>
        <label>Find Existing Opportunity?</label>
        <locationX>663</locationX>
        <locationY>1016</locationY>
        <defaultConnector>
            <targetReference>Is_this_a_Talent_Solutions_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundExistingOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_To_Existing_Opportunity_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Existing_Opportunity_0</name>
        <label>Find Existing Opportunity?</label>
        <locationX>1265</locationX>
        <locationY>626</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundExistingOpportunity_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Opportunities_JustContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Opportunity_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Include_Assets_Sales_Tool_Kit</name>
        <label>Include Assets / Sales Tool Kit</label>
        <locationX>1768</locationX>
        <locationY>1283</locationY>
        <defaultConnector>
            <targetReference>Add_Product_to_Price_Book</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assets_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Include_Sales_Assets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Assets_Sales_Tool_Kit</targetReference>
            </connector>
            <label>Assets Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_Talent_Solutions_Product</name>
        <label>Is this a Talent Solutions Product</label>
        <locationX>856</locationX>
        <locationY>1028</locationY>
        <defaultConnector>
            <targetReference>Create_New_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_This_is_Talent_Solutions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Staffing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Opportunity_0</targetReference>
            </connector>
            <label>Yes This is Talent Solutions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Passes_Equals_Count</name>
        <label>Passes Equals Count</label>
        <locationX>216</locationX>
        <locationY>1948</locationY>
        <defaultConnector>
            <targetReference>Add_the_Comma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_Does</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberofCounties</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varNumberofPasses</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Counties_to_Get_Names</targetReference>
            </connector>
            <label>Yes it Does</label>
        </rules>
    </decisions>
    <decisions>
        <name>Yes_Opp_Has_Same_Existing_Products</name>
        <label>Yes-Opp Has Same Existing Products</label>
        <locationX>1736</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pipeline_Outbound_Full_or_Half</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Additional_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Opp_Products.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Opp_Products.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Go_To_Existing_Opportunity</targetReference>
            </connector>
            <label>Pipeline Outbound - Full or Half</label>
        </rules>
        <rules>
            <name>Pipeline_Management_Combined</name>
            <conditionLogic>(1 OR 2) AND (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Additional_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Opp_Products.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t4A00000Ls4DkQAJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Opp_Products.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t4w00000NFo0bAAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_To_Existing_Opportunity</targetReference>
            </connector>
            <label>Pipeline Management - Combined</label>
        </rules>
        <rules>
            <name>Pipeline_Inbound_or_Creative_Services_or_VMM</name>
            <conditionLogic>((1 OR 2) OR (3 OR 4) OR (5 OR 6)) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Additional_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creative Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Additional_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creative Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virtual Marketing Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Additional_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virtual Marketing Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Opp_Products.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t4w00000NFo0bAAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_To_Existing_Opportunity</targetReference>
            </connector>
            <label>Pipeline Inbound or Creative Services or VMM</label>
        </rules>
        <rules>
            <name>Salesforce_Consulting_or_Salesforce_Integration</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce Consulting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Opp_Products.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t4A00000MZ0qNQAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Opp_Products.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t4A00000MZ0qSQAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Opp_Products.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t4A00000MZ0raQAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_To_Existing_Opportunity</targetReference>
            </connector>
            <label>Salesforce Consulting or Salesforce Integration</label>
        </rules>
    </decisions>
    <description>Updated Sales Group Director to assign John Schwepker to Lauren Shelvy</description>
    <dynamicChoiceSets>
        <name>AppointmentTime</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Appt_Scheduled_Time__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IndustryList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Product</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Timezone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Appt_Scheduled_Timezone__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate60Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+60</expression>
    </formulas>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>forSalesGroupManager</name>
        <dataType>String</dataType>
        <expression>CASE({!CurrentUserId},
&apos;0054A000009BGlpQAG&apos;,{!ElliotNester},
&apos;005G0000007upSQIAY&apos;,{!ElliotNester},
&apos;005G0000008xPe9IAE&apos;,{!ElliotNester},
&apos;005G0000005cpkJIAQ&apos;,{!ElliotNester},
&apos;0054w00000A4pxAAAR&apos;,{!ElliotNester},
&apos;005G0000008xPeAIAU&apos;,{!ElliotNester},
&apos;0054w00000Ayf1WAAR&apos;,{!ElliotNester},
&apos;0054w00000A4jxsAAB&apos;,{!JohnSchwepker},
&apos;0054A000009nWcqQAE&apos;,{!ElliotNester},
&apos;0054w00000AylMHAAZ&apos;,{!ElliotNester},
&apos;0054A000009B6vRQAS&apos;,{!ElliotNester},
&apos;0054A00000A22gYQAR&apos;,{!ElliotNester},
&apos;005G00000084M5mIAE&apos;,{!ElliotNester},
&apos;0054A00000A2clWQAR&apos;,{!ElliotNester},
&apos;0054A000009EiklQAC&apos;,{!ElliotNester},
&apos;0054A000009ngfpQAA&apos;,{!ElliotNester},
&apos;0054A00000A48f8QAB&apos;,{!ElliotNester},
&apos;0054A00000A1wLKQAZ&apos;,{!ElliotNester},
&apos;0054A000008qVrVQAU&apos;,{!ElliotNester},
&apos;0054w000009xVOCAA2&apos;,{!ElliotNester},
&apos;0054w000009x4LHAAY&apos;,{!ElliotNester},
&apos;0054w00000AztiDAAR&apos;,{!ElliotNester},
&apos;0054A000009nWc7QAE&apos;,{!ElliotNester},
&apos;0054w00000Az2lWAAR&apos;,{!ElliotNester},
&apos;005G0000004KaVCIA0&apos;,{!JohnSchwepker},
&apos;005G0000007upSSIAY&apos;,{!JohnSchwepker},
&apos;005G0000001rpokIAA&apos;,{!JohnSchwepker},
&apos;0054A000008xl7FQAQ&apos;,{!JohnSchwepker},
&apos;005A0000000wKLkIAM&apos;,{!JohnSchwepker},
&apos;005G0000004JZlLIAW&apos;,{!JohnSchwepker},
&apos;005G0000005cMp9IAE&apos;,{!JohnSchwepker},
&apos;0054w00000AzXBCAA3&apos;,{!JohnSchwepker},
&apos;005G00000073dciIAA&apos;,{!JohnSchwepker},
{!JohnSchwepker})</expression>
    </formulas>
    <interviewLabel>Contact: New Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact: New Opportunity</label>
    <loops>
        <name>Loop_Opp_Products</name>
        <label>Loop Opp Products</label>
        <locationX>1395</locationX>
        <locationY>420</locationY>
        <collectionReference>Get_Existing_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Yes_Opp_Has_Same_Existing_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Yes_Opp_Has_Same_Existing_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Counties_to_Get_Names</name>
        <label>Loop Through Counties to Get Names</label>
        <locationX>474</locationX>
        <locationY>1741</locationY>
        <collectionReference>Get_Metro_Counties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_County_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_an_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_Count_Counties</name>
        <label>Loop to Count Counties</label>
        <locationX>477</locationX>
        <locationY>1540</locationY>
        <collectionReference>Get_Metro_Counties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_1_to_Number_of_Counties</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Counties_to_Get_Names</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_Role_Carter</name>
        <label>Create Contact Role - Carter</label>
        <locationX>1316</locationX>
        <locationY>1191</locationY>
        <connector>
            <targetReference>Update_Contact_Record_to_Rep</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <stringValue>0034w00004GmMdLAAV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Pipeline Signer</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Role_New_Contracts_Email_Distribution</name>
        <label>Create Contact Role - New Contracts Email Distribution</label>
        <locationX>1576</locationX>
        <locationY>1032</locationY>
        <connector>
            <targetReference>Date_Time_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <stringValue>0034w00003j4a1cAAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Role_Sprock</name>
        <label>Create Contact Role - Sprock</label>
        <locationX>1336</locationX>
        <locationY>1046</locationY>
        <connector>
            <targetReference>Update_Contact_Record_to_Rep</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <stringValue>0034w00004Edw1YAAR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Pipeline Signer</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Opportunity</name>
        <label>Create New Opportunity</label>
        <locationX>1164</locationX>
        <locationY>1044</locationY>
        <assignRecordIdToReference>NewOpportunity</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact_Role_Sprock</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_the_Contact_Information.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment_Set_Date__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Appt_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Prospect_CRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City_Region__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate60Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Qualified__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Company_Qualified__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Full_Name_Integration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Maker__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Decision_Maker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclusive_Target_List__c</field>
            <value>
                <elementReference>varCountyNames</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Influencer__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Influencer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Lead_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Generated_By__c</field>
            <value>
                <elementReference>Lead_Source_Generated_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedIn_Profile_URL__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.LinkedIn_Profile_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Contact_Email__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Contact_Name__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Full_Name_Integration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Contact_Phone__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Phone_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metro_Area__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Metro_Area_Object__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_the_Contact_Information.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Generated_By__c</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Phone__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.OtherPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_2__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s4A000000GdqRQAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifiers__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Qualifiers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012G0000000qERiIAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Group_Manager__c</field>
            <value>
                <elementReference>forSalesGroupManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Pitching</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Website__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Opportunity_0</name>
        <label>Create New Opportunity</label>
        <locationX>1168</locationX>
        <locationY>1188</locationY>
        <assignRecordIdToReference>NewOpportunity</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact_Role_Carter</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_the_Contact_Information.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment_Set_Date__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Appt_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Prospect_CRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City_Region__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate60Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Qualified__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Company_Qualified__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Full_Name_Integration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Maker__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Decision_Maker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclusive_Target_List__c</field>
            <value>
                <elementReference>varCountyNames</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Influencer__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Influencer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Lead_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Generated_By__c</field>
            <value>
                <elementReference>Lead_Source_Generated_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedIn_Profile_URL__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.LinkedIn_Profile_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Contact_Email__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Contact_Name__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Full_Name_Integration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Contact_Phone__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Phone_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metro_Area__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Metro_Area_Object__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_the_Contact_Information.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Generated_By__c</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Phone__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.OtherPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_2__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s4A000000GdqRQAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifiers__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Qualifiers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124w000001Yw3jAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Group_Manager__c</field>
            <value>
                <elementReference>forSalesGroupManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Pitching</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Website__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Pitch_for_New_Opp</name>
        <label>Create Pitch for New Opp</label>
        <locationX>1672</locationX>
        <locationY>1140</locationY>
        <assignRecordIdToReference>NewPitchId</assignRecordIdToReference>
        <connector>
            <targetReference>Include_Assets_Sales_Tool_Kit</targetReference>
        </connector>
        <inputAssignments>
            <field>Appt_Set_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Pitch__c</field>
            <value>
                <elementReference>Appointment_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>Appointment_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012G0000000qd4K</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Set_By_del__c</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Appointment_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Pitch #1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Pitch</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_the_Contact_Information.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Assets_Sales_Tool_Kit</name>
        <label>Create Product - Assets / Sales Tool Kit</label>
        <locationX>1940</locationX>
        <locationY>1289</locationY>
        <connector>
            <targetReference>Add_Product_to_Price_Book</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4A00000MY0XrQAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>500.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Auto</name>
        <label>Create Product - Auto</label>
        <locationX>1961</locationX>
        <locationY>1881</locationY>
        <connector>
            <targetReference>Add_Product_to_Price_Book_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>795.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>795.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4A00000HGgKJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>795.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>795.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Auto_0</name>
        <label>Create Product - Auto</label>
        <locationX>2650</locationX>
        <locationY>2470</locationY>
        <connector>
            <targetReference>Go_To_New_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>795.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>795.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4A00000HGgKJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>795.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>795.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Inbound</name>
        <label>Create Product - Inbound</label>
        <locationX>2073</locationX>
        <locationY>2000</locationY>
        <connector>
            <targetReference>Add_Product_to_Price_Book_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4w00000NFo0b</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Inbound_0</name>
        <label>Create Product - Inbound</label>
        <locationX>2378</locationX>
        <locationY>1753</locationY>
        <connector>
            <targetReference>Add_Product_to_Price_Book_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4w00000NFo0b</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Inbound_0_0</name>
        <label>Create Product - Inbound</label>
        <locationX>2072</locationX>
        <locationY>2316</locationY>
        <connector>
            <targetReference>Go_To_New_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4w00000NFo0b</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Inbound_0_0_0</name>
        <label>Create Product - Inbound</label>
        <locationX>2257</locationX>
        <locationY>2753</locationY>
        <connector>
            <targetReference>Go_To_New_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4w00000NFo0b</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Outbound</name>
        <label>Create Product - Outbound</label>
        <locationX>2268</locationX>
        <locationY>1687</locationY>
        <connector>
            <targetReference>Add_Product_to_Price_Book_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>4250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>4250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4A00000Ls4DkQAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>4250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>4250.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Outbound_0</name>
        <label>Create Product - Outbound</label>
        <locationX>2239</locationX>
        <locationY>2368</locationY>
        <connector>
            <targetReference>Go_To_New_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>4250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>4250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4A00000Ls4DkQAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>4250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>4250.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Outbound_0_0</name>
        <label>Create Product - Outbound</label>
        <locationX>2373</locationX>
        <locationY>1604</locationY>
        <connector>
            <targetReference>Create_Product_Inbound_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>4250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>4250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4A00000Ls4DkQAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>4250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>4250.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Outbound_0_0_0</name>
        <label>Create Product - Outbound</label>
        <locationX>2445</locationX>
        <locationY>2470</locationY>
        <connector>
            <targetReference>Create_Product_Inbound_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>4250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>4250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4A00000Ls4DkQAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>4250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>4250.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Outbound_Half_Program</name>
        <label>Create Product - Outbound Half Program</label>
        <locationX>2221</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Add_Product_to_Price_Book_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>3250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>3250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4A00000HGYx9QAH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>3250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>3250.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Salesforce_Admin</name>
        <label>Create Product - Salesforce Admin</label>
        <locationX>2575</locationX>
        <locationY>1761</locationY>
        <connector>
            <targetReference>Add_Product_to_Price_Book_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4A00000MZ0raQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Salesforce_Admin_0</name>
        <label>Create Product - Salesforce Admin</label>
        <locationX>2796</locationX>
        <locationY>2472</locationY>
        <connector>
            <targetReference>Go_To_New_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4A00000MZ0raQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Salesforce_Setup</name>
        <label>Create Product - Salesforce Setup</label>
        <locationX>2468</locationX>
        <locationY>1472</locationY>
        <connector>
            <targetReference>Create_Product_Salesforce_Sub</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>1500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>1500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4A00000MZ0qNQAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>1500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>1500.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Salesforce_Setup_0</name>
        <label>Create Product - Salesforce Setup</label>
        <locationX>2650</locationX>
        <locationY>2295</locationY>
        <connector>
            <targetReference>Create_Product_Salesforce_Sub_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>1500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>1500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4A00000MZ0qNQAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>1500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>1500.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Salesforce_Sub</name>
        <label>Create Product - Salesforce Sub</label>
        <locationX>2575</locationX>
        <locationY>1573</locationY>
        <connector>
            <targetReference>Create_Product_Salesforce_Admin</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>300.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>300.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4A00000MZ0qSQAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>300.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>300.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Salesforce_Sub_0</name>
        <label>Create Product - Salesforce Sub</label>
        <locationX>2787</locationX>
        <locationY>2305</locationY>
        <connector>
            <targetReference>Create_Product_Salesforce_Admin_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>300.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>300.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4A00000MZ0qSQAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>300.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>300.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Staffing_MRR</name>
        <label>Create Product - Staffing MRR</label>
        <locationX>1680</locationX>
        <locationY>1884</locationY>
        <connector>
            <targetReference>Add_Product_to_Price_Book_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>2250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4w00000NGUXmAAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>2250.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Staffing_MRR_Add</name>
        <label>Create Product - Staffing MRR - Add</label>
        <locationX>2122</locationX>
        <locationY>2605</locationY>
        <connector>
            <targetReference>Go_To_New_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>2250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4w00000NGUXmAAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>2250.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Staffing_Project</name>
        <label>Create Product - Staffing Project</label>
        <locationX>1807</locationX>
        <locationY>1880</locationY>
        <connector>
            <targetReference>Add_Product_to_Price_Book_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4w00000NGUXhAAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Staffing_Project_Add</name>
        <label>Create Product - Staffing Project- Add</label>
        <locationX>2017</locationX>
        <locationY>2605</locationY>
        <connector>
            <targetReference>Go_To_New_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4w00000NGUXhAAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Opportunities</name>
        <label>Get Existing Opportunities</label>
        <locationX>672</locationX>
        <locationY>1185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Existing_Opportunity</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Screen</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Additional_Product</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Opportunities_JustContact</name>
        <label>Get Existing Opportunities</label>
        <locationX>1276</locationX>
        <locationY>764</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Existing_Opportunity_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Opportunity_Products</name>
        <label>Get Existing Opportunity Products</label>
        <locationX>1274</locationX>
        <locationY>433</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opp_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Opportunities_JustContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metro_Area</name>
        <label>Get Metro Area</label>
        <locationX>478</locationX>
        <locationY>1251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Metro_Counties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Contact_Information.Metro_Area_Object__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Metro_Area__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metro_Counties</name>
        <label>Get Metro Counties</label>
        <locationX>474</locationX>
        <locationY>1396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_Count_Counties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Metro_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Metro_Area.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Metro_County__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Contact_Information</name>
        <label>Get the Contact Information</label>
        <locationX>479</locationX>
        <locationY>1083</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Required_Fields_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Website__c</queriedFields>
        <queriedFields>Metro_Area__c</queriedFields>
        <queriedFields>Appt_Date__c</queriedFields>
        <queriedFields>Appt_Scheduled_Date__c</queriedFields>
        <queriedFields>Appt_Scheduled_Datetime__c</queriedFields>
        <queriedFields>How_Did_You_Hear_About_Us__c</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>UFA_7__c</queriedFields>
        <queriedFields>Phone_2__c</queriedFields>
        <queriedFields>OtherPhone</queriedFields>
        <queriedFields>Metro__c</queriedFields>
        <queriedFields>Metro_Area_Object__c</queriedFields>
        <queriedFields>Referring_PSM__c</queriedFields>
        <queriedFields>Referring_Account__c</queriedFields>
        <queriedFields>Appt_Start_Datetime__c</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>Full_Name_Integration__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Company__c</queriedFields>
        <queriedFields>MailingAddress</queriedFields>
        <queriedFields>Cell_Phone__c</queriedFields>
        <queriedFields>HomePhone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Industry__c</queriedFields>
        <queriedFields>Qualifiers__c</queriedFields>
        <queriedFields>LinkedIn_Profile_URL__c</queriedFields>
        <queriedFields>Influencer__c</queriedFields>
        <queriedFields>Decision_Maker__c</queriedFields>
        <queriedFields>Company_Qualified__c</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>Prospect_CRM__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>1101</locationY>
        <connector>
            <targetReference>Get_the_Contact_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>IndustryUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifiers__c</field>
            <value>
                <elementReference>QualifiersUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>TitleUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Record_to_Rep</name>
        <label>Update Contact Record to Rep</label>
        <locationX>1460</locationX>
        <locationY>1167</locationY>
        <connector>
            <targetReference>Create_Contact_Role_New_Contracts_Email_Distribution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Appointment_Generated_By__c</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appt_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appt_Scheduled_Date__c</field>
            <value>
                <elementReference>Appointment_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appt_Scheduled_Time__c</field>
            <value>
                <elementReference>Appointment_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appt_Scheduled_Timezone__c</field>
            <value>
                <elementReference>Timezone_screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DevOutcome__c</field>
            <value>
                <stringValue>Appt A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DevPhase__c</field>
            <value>
                <stringValue>03 Lead</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Create_an_Opportunity</name>
        <label>Create an Opportunity</label>
        <locationX>666</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Existing_Opportunities</targetReference>
        </connector>
        <fields>
            <name>Product_Screen</name>
            <choiceReferences>Product</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Make_Outbound_Half_Program</name>
            <dataType>Boolean</dataType>
            <fieldText>Make Outbound Half Program</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Product</name>
            <choiceReferences>Product</choiceReferences>
            <choiceReferences>NoAdditionalProduct</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NoAdditionalProduct</defaultSelectedChoiceReference>
            <fieldText>Additional Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Include_Sales_Assets</name>
            <dataType>Boolean</dataType>
            <fieldText>Include Sales Assets</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Industry</name>
            <choiceReferences>IndustryList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Industry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lead_Source</name>
            <choiceReferences>LeadSource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lead_Source_Generated_By</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_the_Contact_Information.Source__c</elementReference>
            </defaultValue>
            <fieldText>Lead Source Generated By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lead_Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Trade Show</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Pitch Date Time (Populate If You Want To Log a Pitch)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Appointment_Time</name>
            <choiceReferences>AppointmentTime</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Appointment Time</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Timezone_screen</name>
            <choiceReferences>Timezone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Timezone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Go_To_Existing_Opportunity</name>
        <label>Go To Existing Opportunity</label>
        <locationX>1743</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GoToExistingOpportunity</name>
            <fieldText>&lt;p&gt;This opportunity already exists.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://amg.lightning.force.com/lightning/r/Opportunity/{!Get_Existing_Opportunities_JustContact.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Go To Existing Opportunity&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Go_To_Existing_Opportunity_0</name>
        <label>Go To Existing Opportunity</label>
        <locationX>762</locationX>
        <locationY>879</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GoToExistingOpportunity_0</name>
            <fieldText>&lt;p&gt;This opportunity already exists.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://amg.lightning.force.com/lightning/r/Opportunity/{!Get_Existing_Opportunities.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Go To Existing Opportunity&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Go_To_New_Opportunity</name>
        <label>Go To New Opportunity</label>
        <locationX>2512</locationX>
        <locationY>2755</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GoToNewlyCreatedOpportunity</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://amg.lightning.force.com/lightning/r/Opportunity/{!NewOpportunity}/view&quot; target=&quot;_blank&quot;&gt;Go To Newly Created Opportunity&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Contact_Screen</name>
        <label>Update Contact Screen</label>
        <locationX>200</locationX>
        <locationY>1157</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <fields>
            <name>UpdateContactDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please update missing fields.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TitleUpdate</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_the_Contact_Information.Title</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IndustryUpdate</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_the_Contact_Information.Industry__c</elementReference>
            </defaultValue>
            <fieldText>Industry</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>QualifiersUpdate</name>
            <defaultValue>
                <stringValue>{!Get_the_Contact_Information.Qualifiers__c}</stringValue>
            </defaultValue>
            <fieldText>Qualifiers</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>354</locationX>
        <locationY>772</locationY>
        <connector>
            <targetReference>Get_the_Contact_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewPitchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountyNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMetroArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumberofCounties</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNumberofPasses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
