force-app/main/default/flows/MAP_Create_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Low_CLT_Score_Notification</name>
        <label>Low CLT Score Notification</label>
        <locationX>789</locationX>
        <locationY>853</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varManagementEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Chance of Long-Term Career Low Score</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Management_Email</name>
        <label>Assign Management Email</label>
        <locationX>786</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>varManagementEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.User__r.Director_1__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varManagementEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.User__r.Vice_President__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Low_CLT_Score_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Low_Chance_of_Long_Career_Score</name>
        <label>Low Chance of Long Career Score</label>
        <locationX>771</locationX>
        <locationY>540</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Low_Score</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Chance_of_Long_Term_Career__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__r.Vice_President__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005G00000073QGeIAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__r.Vice_President__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005G0000007upSOIAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Management_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Low Score</label>
        </rules>
        <rules>
            <name>Outbound_Low_Score</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User__r.Vice_President__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005G00000073QGeIAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User__r.Vice_President__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005G0000007upSOIAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Chance_of_Long_Term_Career__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Management_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Outbound Low Score</label>
        </rules>
    </decisions>
    <description>Included email alert to VP and Director when user submits a CLT score less than 4 for company, but less than 3 for Will Osburn and Amie Milner&apos;s team.</description>
    <environments>Default</environments>
    <interviewLabel>MAP: Create Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MAP: Create Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Populate_Director_of_Employee_Engagement</name>
        <label>Populate Director of Employee Engagement</label>
        <locationX>776</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>Low_Chance_of_Long_Career_Score</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dir_of_Employee_Engagement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Dir_of_Employee_Engagement__c</field>
            <value>
                <stringValue>005G0000005cc0YIAQ</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Populate_Director_of_Employee_Engagement</targetReference>
        </connector>
        <object>MAP__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://amg--paulh.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0687h0000029Q43?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Small Captain Abstrakt Logo (1).png&quot;&gt;&lt;/p&gt;&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please be aware that {!$Record.User__c} put a {!$Record.Chance_of_Long_Term_Career__c} on their month recent MAP dated {!$Record.MAP_Date__c}. Please discuss this with the manager and employee to see what can be done to improve this person&apos;s chance of staying with Abstrakt long-term and improve their employee experience. Please note that if the score does not improve in future MAPs Human Resources will contact the employee and manager directly to discuss the employee&apos;s concern.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for your time to improve the employee experience and helping to retain our team.&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;Abstrakt Human Resources&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varManagementEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
