force-app/main/default/flows/Opportunity_Run_Pitches_from_Screen_Slim_Edition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add1</name>
        <label>Add1</label>
        <locationX>908</locationX>
        <locationY>829</locationY>
        <assignmentItems>
            <assignToReference>LoopVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopToCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Pitch_Value</name>
        <label>Set Current Pitch Value</label>
        <locationX>400</locationX>
        <locationY>706</locationY>
        <assignmentItems>
            <assignToReference>varPitchOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pitch_Record.Result__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_Previous_Pitch_Check_sheets</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Budget</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Budget&lt;/span&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <description>Business Development</description>
        <name>BusinessDevelopment</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Business Development&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Development</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice</name>
        <choiceText>choice</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choiceBudget</name>
        <choiceText>No Budget</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Budget</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCanceled</name>
        <choiceText>Canceled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceClosedMarket</name>
        <choiceText>Closed Market</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Market</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCompetitor</name>
        <choiceText>Competitor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Competitor</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceDelayed</name>
        <choiceText>Moved to delayed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moved to delayed</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceDontWanttoGrow</name>
        <choiceText>Don&apos;t Want to Grow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Don&apos;t Want to Grow</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceEngaged</name>
        <choiceText>Engaged</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Engaged</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceGhosting</name>
        <choiceText>Ghosting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ghosting</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceLostNoShow</name>
        <choiceText>No Show</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Show</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNoInterest</name>
        <choiceText>No Interest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Interest</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNotaFit</name>
        <choiceText>Not a Fit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not a Fit</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNotKDM</name>
        <choiceText>Not KDM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not KDM</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNurture</name>
        <choiceText>Nurture</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nurture</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOtherKDM</name>
        <choiceText>Need to schedule meeting with other KDM(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Need to schedule meeting with other KDM(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceReschedule</name>
        <choiceText>Canceled - Needs to Reschedule</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled - Needs to Reschedule</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceScheduled</name>
        <choiceText>Scheduled meeting with other KDM(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled meeting with other KDM(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceScheduledNext</name>
        <choiceText>Scheduled Next</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled Next</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceTooExpensive</name>
        <choiceText>Too Expensive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Too Expensive</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceTooMuchWork</name>
        <choiceText>Have Too Much Work</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Have Too Much Work</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceWaitingList</name>
        <choiceText>Waiting List</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Waiting List</stringValue>
        </value>
    </choices>
    <choices>
        <name>CurrentPitch</name>
        <choiceText>{!varPitchOutcome}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varPitchOutcome</elementReference>
        </value>
    </choices>
    <choices>
        <description>Delayed</description>
        <name>Delayed</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Delayed&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delayed</stringValue>
        </value>
    </choices>
    <choices>
        <description>Lost</description>
        <name>Lost</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Lost&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lost</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>Pitching</description>
        <name>Pitching</name>
        <choiceText>Pitching</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pitching</stringValue>
        </value>
    </choices>
    <choices>
        <name>PleaseSelectChoice</name>
        <choiceText>Please Select Yes or No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Please Select Yes or No</stringValue>
        </value>
    </choices>
    <choices>
        <description>Proposal</description>
        <name>Proposal</name>
        <choiceText>Proposal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proposal</stringValue>
        </value>
    </choices>
    <choices>
        <description>Won</description>
        <name>Won</name>
        <choiceText>Won</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Won</stringValue>
        </value>
    </choices>
    <constants>
        <name>Carter</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005G0000001qkTq</stringValue>
        </value>
    </constants>
    <constants>
        <name>conNoLink</name>
        <dataType>String</dataType>
        <value>
            <stringValue>htttps://www.nolink.com</stringValue>
        </value>
    </constants>
    <constants>
        <name>ElliotNester</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005G0000005cpkJIAQ</stringValue>
        </value>
    </constants>
    <constants>
        <name>JacobSchatteman</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005G0000007upSSIAY</stringValue>
        </value>
    </constants>
    <constants>
        <name>JakobBliss</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005G0000007ugXIIAY</stringValue>
        </value>
    </constants>
    <constants>
        <name>JoeHenthorn</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005G0000001rpokIAA</stringValue>
        </value>
    </constants>
    <constants>
        <name>JohnSchwepker</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005G0000004KaVCIA0</stringValue>
        </value>
    </constants>
    <constants>
        <name>LeoTichy</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0054A000008xl7FQAQ</stringValue>
        </value>
    </constants>
    <constants>
        <name>MattWitte</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005A0000000wKLkIAM</stringValue>
        </value>
    </constants>
    <constants>
        <name>RyanNeumann</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005G0000004JZlLIAW</stringValue>
        </value>
    </constants>
    <constants>
        <name>SteveDozier</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005G0000005cMp9IAE</stringValue>
        </value>
    </constants>
    <constants>
        <name>TylerMeredith</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0054w00000AzXBCAA3</stringValue>
        </value>
    </constants>
    <constants>
        <name>ZachBayer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005G00000073dciIAA</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Not_a_Fit_Opportunity</name>
        <label>Not a Fit Opportunity</label>
        <locationX>1183</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>Set_by_SDR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_a_Fit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_Delayed_or_Lost_If_you_don_t_select_this_will_crash_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not a Fit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Contact_Devphase</targetReference>
            </connector>
            <label>Not a Fit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_Completed</name>
        <label>Not Completed</label>
        <locationX>959</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>forPitchResult</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Pitch_Checksheet</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Schedule_Top_250_Pitch_Decision</name>
        <label>Schedule Top 250 Pitch Decision</label>
        <locationX>709</locationX>
        <locationY>296</locationY>
        <defaultConnector>
            <targetReference>Not_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Schedule_Top_250</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Schedule_Follow_Up_Pitch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Top_250_Pitch_Details</targetReference>
            </connector>
            <label>Schedule Top 250</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_by_SDR</name>
        <label>Set by SDR</label>
        <locationX>1341</locationX>
        <locationY>229</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pitch_Record.zzzRole__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>There_is_Past_Ones</name>
        <label>There is Past Ones?</label>
        <locationX>721</locationX>
        <locationY>663</locationY>
        <defaultConnector>
            <targetReference>Pitch_Checklist_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariable</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Most_Recent_Check_Sheet</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Correct_Pitch_Field</name>
        <label>Update Correct Pitch Field</label>
        <locationX>1563</locationX>
        <locationY>613</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_to_Prospect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Pitch_1</targetReference>
            </connector>
            <label>0</label>
        </rules>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Pitch_2</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Pitch_3</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Pitch_4</targetReference>
            </connector>
            <label>3</label>
        </rules>
    </decisions>
    <description>Updated Sales Group Director to assign John Schwepker to Lauren Shelvy</description>
    <dynamicChoiceSets>
        <name>choiceNotQualifiedReason</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Not_Qualified_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EventPitchOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Result__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Incrementsof10</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Likelihood_to_buy_in_60_days__c</picklistField>
        <picklistObject>Requirement_Sheet__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OppRecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OppStageChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PitchDateChoiceSet</name>
        <dataType>Date</dataType>
        <displayField>Date_of_Pitch__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012G0000000qd4KIAQ</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>ChoosenPitch</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Date_of_Pitch__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PitchesforOpportunity</name>
        <dataType>String</dataType>
        <displayField>Subject</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>ChoosenPitch</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Subject</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PitchResult</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pitch_1_Result__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonLost</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_Lost__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UpdateTaskChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Task__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YesNoChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Agreed_to_Buy__c</picklistField>
        <picklistObject>Requirement_Sheet__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forFirstOfNextMonth</name>
        <dataType>Date</dataType>
        <expression>if(MONTH(TODAY())=12,
date(year(today())+1,1,1),
date(year(today()),MONTH(Today())+1,1))</expression>
    </formulas>
    <formulas>
        <name>forPitchResult</name>
        <dataType>String</dataType>
        <expression>IF({!Update_Opportunity_Stage_to_0} = {!Proposal},&apos;Completed Proposal&apos;,
IF(AND({!Update_Opportunity_Stage_to_0} ={!BusinessDevelopment},{!Opportunity_Outcome}={!choiceEngaged}),&apos;Completed Engaged&apos;,
IF(AND({!Update_Opportunity_Stage_to_0} ={!BusinessDevelopment},{!Opportunity_Outcome}={!choiceScheduledNext}),&apos;Completed Scheduled Next&apos;,
IF(AND({!Update_Opportunity_Stage_to_0} ={!Delayed},{!Reason_Delayed}={!choiceClosedMarket}),&apos;Completed Closed Market&apos;,
IF(AND({!Update_Opportunity_Stage_to_0} ={!Delayed},{!Reason_Delayed}={!choiceWaitingList}),&apos;Completed Waiting List&apos;,
IF(AND({!Update_Opportunity_Stage_to_0} ={!Delayed},{!Reason_Delayed}={!choiceCompetitor}),&apos;Completed Competitor&apos;,
IF(AND({!Update_Opportunity_Stage_to_0} ={!Delayed},{!Reason_Delayed}={!choiceBudget}),&apos;Completed No Budget&apos;,
IF(AND({!Update_Opportunity_Stage_to_0} ={!Delayed},{!Reason_Delayed}={!choiceTooExpensive}),&apos;Completed Too Expensive&apos;,
IF(AND({!Update_Opportunity_Stage_to_0} ={!Delayed},{!Reason_Delayed}={!choiceNoInterest}),&apos;Completed No Interest&apos;,
IF(AND({!Update_Opportunity_Stage_to_0} ={!Delayed},{!Reason_Delayed}={!choiceTooMuchWork}),&apos;Completed Too Much Work&apos;,
IF(AND({!Update_Opportunity_Stage_to_0} ={!Delayed},{!Reason_Delayed}={!choiceNotKDM}),&apos;Completed Not KDM&apos;,
IF(AND({!Update_Opportunity_Stage_to_0} ={!Delayed},{!Reason_Delayed}={!choiceOther}),&apos;Completed Other&apos;,
IF(AND({!Update_Opportunity_Stage_to_0} ={!Delayed},{!Reason_Delayed}={!choiceScheduledNext}),&apos;Completed Scheduled Next&apos;,
IF(AND({!Update_Opportunity_Stage_to_0} ={!Delayed},{!Reason_Delayed}={!choiceGhosting}),&apos;No Show&apos;,
IF(AND({!Update_Opportunity_Stage_to_0} ={!Delayed},{!Reason_Delayed}={!choiceNurture}),&apos;Completed Nurture&apos;,
IF(AND({!Update_Opportunity_Stage_to_0} ={!Lost},{!Reason_Delayed_or_Lost_If_you_don_t_select_this_will_crash_0} = {!choiceLostNoShow}),&apos;No Show&apos;,
IF(AND({!Update_Opportunity_Stage_to_0} ={!Lost},{!Reason_Delayed_or_Lost_If_you_don_t_select_this_will_crash_0} = {!choiceCanceled}),&apos;Canceled&apos;,
IF(AND({!Update_Opportunity_Stage_to_0} ={!Lost},{!Reason_Delayed_or_Lost_If_you_don_t_select_this_will_crash_0} = {!ChoiceReschedule}),&apos;Canceled&apos;,
IF(AND({!Update_Opportunity_Stage_to_0} ={!Lost},{!Reason_Delayed_or_Lost_If_you_don_t_select_this_will_crash_0} = {!choiceNotaFit}),&apos;Completed Not a Fit&apos;,
&apos;In Process&apos;)))))))))))))))))))</expression>
    </formulas>
    <formulas>
        <name>forReasonLostDelayed</name>
        <dataType>String</dataType>
        <expression>IF({!Reason_Delayed_or_Lost_If_you_don_t_select_this_will_crash_0} &lt;&gt; NULL,{!Reason_Delayed_or_Lost_If_you_don_t_select_this_will_crash_0},
IF({!Reason_Delayed}&lt;&gt;NULL,{!Reason_Delayed},
IF({!Opportunity_Outcome}&lt;&gt;NULL,{!Opportunity_Outcome},NULL)))</expression>
    </formulas>
    <formulas>
        <name>forSaleGroupDirector</name>
        <dataType>String</dataType>
        <expression>CASE({!Get_Pitch_Record.OwnerId},
{!JohnSchwepker},{!JohnSchwepker},
{!MattWitte},{!Carter},
{!JacobSchatteman},{!JohnSchwepker},
{!JoeHenthorn},{!JohnSchwepker},
{!RyanNeumann},{!JohnSchwepker},
{!SteveDozier},{!JohnSchwepker},
{!LeoTichy},{!JohnSchwepker},
{!ZachBayer},{!JohnSchwepker},
{!TylerMeredith},{!JohnSchwepker},
&apos;005G0000005cpkJIAQ&apos;,{!ElliotNester},
&apos;0054A000009BGlpQAG&apos;,{!ElliotNester},
&apos;005G0000007upSQIAY&apos;,{!ElliotNester},
&apos;005G0000008xPe9IAE&apos;,{!ElliotNester},
&apos;0054w00000A4jxsAAB&apos;,{!JohnSchwepker},
&apos;0054w00000Az2lWAAR&apos;,{!ElliotNester},
&apos;0054A000009nWcqQAE&apos;,{!JakobBliss},
&apos;0054w00000A4pxAAAR&apos;,{!ElliotNester},
&apos;005G0000008xPeAIAU&apos;,{!ElliotNester},
&apos;0054w00000Ayf1WAAR&apos;,{!ElliotNester},
&apos;0054w00000AylMHAAZ&apos;,{!ElliotNester},
&apos;0054A000009B6vRQAS&apos;,{!ElliotNester},
&apos;005G00000084M5mIAE&apos;,{!ElliotNester},
&apos;0054A00000A2clWQAR&apos;,{!ElliotNester},
&apos;0054A000009EiklQAC&apos;,{!JakobBliss},
&apos;0054A000009ngfpQAA&apos;,{!ElliotNester},
&apos;0054A00000A48f8QAB&apos;,{!ElliotNester},
&apos;0054A000009nWc7QAE&apos;,{!ElliotNester},
&apos;0054A00000A1wLKQAZ&apos;,{!ElliotNester},
&apos;0054A000008qVrVQAU&apos;,{!ElliotNester},
&apos;0054w000009xVOCAA2&apos;,{!ElliotNester},
&apos;0054w000009x4LHAAY&apos;,{!ElliotNester},
&apos;0054w00000AztiDAAR&apos;,{!ElliotNester},
&apos;005G0000007ugXIIAY&apos;,{!JakobBliss},
&apos;005G0000007ukSCIAY&apos;,{!Carter},
{!JohnSchwepker})</expression>
    </formulas>
    <formulas>
        <name>forStartTime</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(
    VALUE( MID( TEXT( {!Get_Pitch_Record.StartDateTime} - 6), 12, 2 ) ) = 0,
    VALUE( MID( TEXT( {!Get_Pitch_Record.StartDateTime} - 6), 12, 2 ) ) = 12
  ),
  &quot;12&quot;,
  TEXT( VALUE( MID( TEXT( {!Get_Pitch_Record.StartDateTime} - 6), 12, 2 ) ) 
   -
   IF( 
     VALUE( MID( TEXT( {!Get_Pitch_Record.StartDateTime} - 6), 12, 2 ) ) &lt; 12, 
     0, 
     12 
   ) 
  )
)
&amp; &quot;:&quot; &amp;
MID( TEXT( {!Get_Pitch_Record.StartDateTime} - 6 ), 15, 2 )
&amp; &quot;:&quot; &amp;
MID( TEXT( {!Get_Pitch_Record.StartDateTime} - 6 ), 18, 2 )
&amp; &quot; &quot; &amp;
IF(
  VALUE( MID( TEXT( {!Get_Pitch_Record.StartDateTime} - 6 ), 12, 2 ) ) &lt; 12,
  &quot;AM&quot;,
  &quot;PM&quot;
)</expression>
    </formulas>
    <formulas>
        <name>forToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>NumberforTitle</name>
        <dataType>Number</dataType>
        <expression>{!LoopVariable} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Opportunity: Run Pitches from Screen (Slim Edition) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Run Pitches from Screen (Slim Edition)</label>
    <loops>
        <name>LoopToCount</name>
        <label>LoopToCount</label>
        <locationX>703</locationX>
        <locationY>831</locationY>
        <assignNextValueToReference>LoopVariableRecord</assignNextValueToReference>
        <collectionReference>Get_all_Previous_Pitch_Check_sheets</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>There_is_Past_Ones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Pitch_Checksheet</name>
        <label>Create Pitch Checksheet</label>
        <locationX>1186</locationX>
        <locationY>473</locationY>
        <connector>
            <targetReference>Not_a_Fit_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Agreed_to_Buy__c</field>
            <value>
                <elementReference>Person_pitched_say_they_would_buy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_they_an_Influencer__c</field>
            <value>
                <elementReference>Are_they_an_influencer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_they_use_Salesforce__c</field>
            <value>
                <elementReference>Do_they_use_Salesforce</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameOfSheet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pitch_Outcome__c</field>
            <value>
                <elementReference>forPitchResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pitched_KDM__c</field>
            <value>
                <elementReference>Did_you_meet_with_KDM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualified_Company_Notes__c</field>
            <value>
                <elementReference>Why_aren_t_they_qualified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualified_Company__c</field>
            <value>
                <elementReference>Qualified_Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_not_moving_forward__c</field>
            <value>
                <elementReference>Why_don_t_they_want_to_buy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124A000001UUBxQAO</stringValue>
            </value>
        </inputAssignments>
        <object>Requirement_Sheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Top_250_Follow_Up_Pitch_Event</name>
        <label>Create Top 250 Follow Up Pitch Event</label>
        <locationX>853</locationX>
        <locationY>138</locationY>
        <connector>
            <targetReference>Not_Completed</targetReference>
        </connector>
        <inputAssignments>
            <field>Appt_Set_Date__c</field>
            <value>
                <elementReference>forToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Pitch__c</field>
            <value>
                <elementReference>Date_of_Pitch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>EndTop250</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AssignedToTop250.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124w000001YpmCAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Set_By_del__c</field>
            <value>
                <elementReference>SetByTop250.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>StartTop250</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Top 250 Post Pitch Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ProspectName.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_all_Previous_Pitch_Check_sheets</name>
        <label>Get all Previous Pitch Check sheets</label>
        <locationX>521</locationX>
        <locationY>802</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopToCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pitch_Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Requirement_Sheet__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Check_Sheet</name>
        <label>Get Most Recent Check Sheet</label>
        <locationX>908</locationX>
        <locationY>669</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pitch_Checklist_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pitch_Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Requirement_Sheet__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Qualified_Company__c</queriedFields>
        <queriedFields>Agreed_to_Buy__c</queriedFields>
        <queriedFields>Growth_Notes__c</queriedFields>
        <queriedFields>How_much_do_they_want_to_grow_by__c</queriedFields>
        <queriedFields>Likelihood_to_buy_ever__c</queriedFields>
        <queriedFields>Likelihood_to_buy_in_60_days__c</queriedFields>
        <queriedFields>OK_with_competitor_getting_market__c</queriedFields>
        <queriedFields>Pitched_KDM__c</queriedFields>
        <queriedFields>Predictable_Sales_Pipeline_Notes__c</queriedFields>
        <queriedFields>Prospect_agreed_they_are_looking_to_grow__c</queriedFields>
        <queriedFields>Prospect_needs_sales_pipeline__c</queriedFields>
        <queriedFields>Qualified_Company_Notes__c</queriedFields>
        <queriedFields>Reason_not_moving_forward__c</queriedFields>
        <queriedFields>Title_of_Pitch_POC__c</queriedFields>
        <queriedFields>What_are_the_next_steps_to_close__c</queriedFields>
        <queriedFields>What_is_their_current_revenue__c</queriedFields>
        <queriedFields>Will_you_be_sending_an_agreement__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>390</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pitch_Choice_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Top_5_Opportunities__c</queriedFields>
        <queriedFields>Manager_Top_5__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Follow_up_Date__c</queriedFields>
        <queriedFields>Expected_Close_Date__c</queriedFields>
        <queriedFields>Budget__c</queriedFields>
        <queriedFields>Authority__c</queriedFields>
        <queriedFields>Pain__c</queriedFields>
        <queriedFields>Timeframe__c</queriedFields>
        <queriedFields>Verbal__c</queriedFields>
        <queriedFields>Competition__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pitch_Record</name>
        <label>Get Pitch Record</label>
        <locationX>527</locationX>
        <locationY>565</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Current_Pitch_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChoosenPitch</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Post_Checked__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Result__c</queriedFields>
        <queriedFields>StartDateTime</queriedFields>
        <queriedFields>Date_of_Pitch__c</queriedFields>
        <queriedFields>Set_By_del__c</queriedFields>
        <queriedFields>zzzRole__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Contact</name>
        <label>update Contact</label>
        <locationX>1346</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pitch_Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Appt_Scheduled_Date__c</field>
            <value>
                <elementReference>Get_Pitch_Record.Date_of_Pitch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recent_Pitch_Outcome__c</field>
            <value>
                <elementReference>forPitchResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recent_Pitch_Set_By__c</field>
            <value>
                <elementReference>Get_Pitch_Record.Set_By_del__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Contact_Devphase</name>
        <label>update Contact Devphase</label>
        <locationX>1191</locationX>
        <locationY>228</locationY>
        <connector>
            <targetReference>Set_by_SDR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pitch_Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DevOutcome__c</field>
            <value>
                <stringValue>Not a Fit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DevPhase__c</field>
            <value>
                <stringValue>04 Suspended</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_to_Prospect</name>
        <label>Update Contact to Prospect</label>
        <locationX>1575</locationX>
        <locationY>1173</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pitch_Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DevPhase__c</field>
            <value>
                <stringValue>05 Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1543</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>Update_Post_Checked_to_True_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Follow_up_Date__c</field>
            <value>
                <elementReference>Follow_Up_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Pitch_Date__c</field>
            <value>
                <elementReference>Get_Pitch_Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Pitch_Result__c</field>
            <value>
                <elementReference>forPitchResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Pitch_Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Lost__c</field>
            <value>
                <elementReference>forReasonLostDelayed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Group_Manager__c</field>
            <value>
                <elementReference>forSaleGroupDirector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Update_Opportunity_Stage_to_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_I_Lost_this_Deal__c</field>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_0</name>
        <label>Update Opportunity</label>
        <locationX>1031</locationX>
        <locationY>258</locationY>
        <connector>
            <targetReference>Update_Post_Checked_to_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Follow_up_Date__c</field>
            <value>
                <elementReference>Follow_Up_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Pitch_Date__c</field>
            <value>
                <elementReference>Get_Pitch_Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Pitch_Result__c</field>
            <value>
                <elementReference>forPitchResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Lost__c</field>
            <value>
                <elementReference>forReasonLostDelayed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Update_Opportunity_Stage_to_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_I_Lost_this_Deal__c</field>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_0_0</name>
        <label>Update Opportunity</label>
        <locationX>496</locationX>
        <locationY>196</locationY>
        <connector>
            <targetReference>Update_Post_Checked_to_True_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_Pitch_Result__c</field>
            <value>
                <elementReference>forPitchResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Lost__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Update_Opportunity_Stage_to_0</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Pitch_1</name>
        <label>Update Opportunity Pitch 1</label>
        <locationX>1430</locationX>
        <locationY>811</locationY>
        <connector>
            <targetReference>Update_Contact_to_Prospect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pitch_1_Result__c</field>
            <value>
                <elementReference>forPitchResult</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Pitch_2</name>
        <label>Update Opportunity Pitch 2</label>
        <locationX>1643</locationX>
        <locationY>903</locationY>
        <connector>
            <targetReference>Update_Contact_to_Prospect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pitch_2_Result__c</field>
            <value>
                <elementReference>forPitchResult</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Pitch_3</name>
        <label>Update Opportunity Pitch 3</label>
        <locationX>1703</locationX>
        <locationY>784</locationY>
        <connector>
            <targetReference>Update_Contact_to_Prospect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pitch_3_Result__c</field>
            <value>
                <elementReference>forPitchResult</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Pitch_4</name>
        <label>Update Opportunity Pitch 4</label>
        <locationX>1523</locationX>
        <locationY>913</locationY>
        <connector>
            <targetReference>Update_Contact_to_Prospect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pitch_4_Result__c</field>
            <value>
                <elementReference>forPitchResult</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Post_Checked_to_True</name>
        <label>Update Post Checked to True</label>
        <locationX>1028</locationX>
        <locationY>119</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChoosenPitch</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>forPitchResult</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Post_Checked_to_True_0</name>
        <label>Update Post Checked to True</label>
        <locationX>1558</locationX>
        <locationY>351</locationY>
        <connector>
            <targetReference>Update_Correct_Pitch_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChoosenPitch</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>forPitchResult</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Post_Checked_to_True_0_0</name>
        <label>Update Post Checked to True</label>
        <locationX>488</locationX>
        <locationY>70</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChoosenPitch</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>forPitchResult</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <screens>
        <name>Pitch_Checklist</name>
        <label>Pitch Checklist</label>
        <locationX>588</locationX>
        <locationY>292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;Number of Requirement Sheets on Opportunity: {!LoopVariable}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Last Pitch Checklist Completed on: {!Get_Most_Recent_Check_Sheet.CreatedDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name of this Pitch Check Sheet will be: {!NameOfSheet}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Did_you_meet_with_KDM</name>
            <choiceReferences>YesNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did you meet with KDM</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Q&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;ualified per the Sales Enablement qualifiers&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_title_did_you_meet_with_and_were_they_an_influencer</name>
            <dataType>String</dataType>
            <fieldText>What title did you meet with?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Did_you_meet_with_KDM</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Are_they_an_influencer</name>
            <choiceReferences>YesNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are they an influencer?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Did_you_meet_with_KDM</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Person_pitched_say_they_would_buy</name>
            <choiceReferences>YesNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Person pitched say they would buy?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Why_don_t_they_want_to_buy</name>
            <fieldText>Why don&apos;t they want to buy?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Person_pitched_say_they_would_buy</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Qualified_Company</name>
            <choiceReferences>YesNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Qualified Company?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Why_aren_t_they_qualified</name>
            <fieldText>Why aren&apos;t they qualified?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Q&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;ualified per the Sales Enablement qualifiers in call recording and or notes.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Qualified_Company</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Did_you_ask_for_a_referral</name>
            <choiceReferences>YesNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did you ask for a referral?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Why_didn_t_you_ask_for_a_referral</name>
            <fieldText>Why didn&apos;t you ask for a referral?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Did_you_ask_for_a_referral</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_they_use_Salesforce</name>
            <choiceReferences>YesNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do they use Salesforce?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PitchLink</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pitch Recording Link</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>conNoLink</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>pitchURL</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Follow_Up_Call_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity_Details.Follow_up_Date__c</elementReference>
            </defaultValue>
            <fieldText>Follow-Up Call Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pitch_Checklist_0</name>
        <label>Pitch Checklist</label>
        <locationX>723</locationX>
        <locationY>538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Top_250_Follow_Up_Pitch</targetReference>
        </connector>
        <fields>
            <name>Header_0</name>
            <fieldText>&lt;p&gt;Number of Requirement Sheets on Opportunity: {!LoopVariable}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Last Pitch Checklist Completed on: {!Get_Most_Recent_Check_Sheet.CreatedDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name of this Pitch Check Sheet will be: {!NameOfSheet}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Pitch Outcome - {!Get_Pitch_Record.Result__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Update_Opportunity_Stage_to_0</name>
            <choiceReferences>Delayed</choiceReferences>
            <choiceReferences>BusinessDevelopment</choiceReferences>
            <choiceReferences>Proposal</choiceReferences>
            <choiceReferences>Lost</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Update Opportunity Stage to:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_Delayed_or_Lost_If_you_don_t_select_this_will_crash_0</name>
            <choiceReferences>choiceCanceled</choiceReferences>
            <choiceReferences>ChoiceReschedule</choiceReferences>
            <choiceReferences>choiceLostNoShow</choiceReferences>
            <choiceReferences>choiceNotaFit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason Lost (If you don&apos;t select this will crash)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Update_Opportunity_Stage_to_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Lost</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reason_Delayed</name>
            <choiceReferences>choiceClosedMarket</choiceReferences>
            <choiceReferences>choiceCompetitor</choiceReferences>
            <choiceReferences>choiceDontWanttoGrow</choiceReferences>
            <choiceReferences>choiceTooMuchWork</choiceReferences>
            <choiceReferences>choiceBudget</choiceReferences>
            <choiceReferences>choiceNoInterest</choiceReferences>
            <choiceReferences>choiceNotKDM</choiceReferences>
            <choiceReferences>choiceOther</choiceReferences>
            <choiceReferences>choiceTooExpensive</choiceReferences>
            <choiceReferences>choiceWaitingList</choiceReferences>
            <choiceReferences>choiceScheduledNext</choiceReferences>
            <choiceReferences>choiceNurture</choiceReferences>
            <choiceReferences>choiceGhosting</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason Delayed (If you don&apos;t select this will crash)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Update_Opportunity_Stage_to_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Delayed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Opportunity_Outcome</name>
            <choiceReferences>choiceEngaged</choiceReferences>
            <choiceReferences>choiceScheduledNext</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Update_Opportunity_Stage_to_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Business Development</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Follow_Up_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity_Details.Follow_up_Date__c</elementReference>
            </defaultValue>
            <fieldText>Follow Up Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pitch_Choice_Screen</name>
        <label>Pitch Choice Screen</label>
        <locationX>524</locationX>
        <locationY>432</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Pitch_Record</targetReference>
        </connector>
        <fields>
            <name>Please_Select_The_Date_of_The_Pitch_to_Complete</name>
            <choiceReferences>PitchDateChoiceSet</choiceReferences>
            <dataType>Date</dataType>
            <fieldText>Please Select The Date of The Pitch to Complete</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Top_250_Follow_Up_Pitch</name>
        <label>Top 250 Follow Up Pitch</label>
        <locationX>721</locationX>
        <locationY>421</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Schedule_Top_250_Pitch_Decision</targetReference>
        </connector>
        <fields>
            <name>Schedule_Follow_Up_Pitch</name>
            <choiceReferences>YesNoChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Schedule Follow-Up Pitch</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Top_250_Pitch_Details</name>
        <label>Top 250 Pitch Details</label>
        <locationX>708</locationX>
        <locationY>136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Top_250_Follow_Up_Pitch_Event</targetReference>
        </connector>
        <fields>
            <name>AssignedToTop250</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>OwnerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assigned To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ProspectName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Prospect Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Opportunity_Details.Contact__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OpportunityNameDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Opportunity:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Top250OpportunityName</name>
            <fieldText>&lt;p&gt;{!Get_Opportunity_Details.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_Pitch</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Follow_Up_Call_Date</elementReference>
            </defaultValue>
            <fieldText>Date of Pitch</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StartTop250</name>
            <dataType>DateTime</dataType>
            <fieldText>Start</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EndTop250</name>
            <dataType>DateTime</dataType>
            <fieldText>End</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SetByTop250</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>OwnerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Set By</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>426</locationY>
        <connector>
            <targetReference>Get_Opportunity_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NameOfSheet</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Pitch Check Sheet - {!NumberforTitle}</text>
    </textTemplates>
    <variables>
        <name>ChoosenPitch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoopVariableRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Requirement_Sheet__c</objectType>
    </variables>
    <variables>
        <name>pitchURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewSheet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPitchOutcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
