force-app/main/default/flows/Opportunity_Notification_of_Status_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>767</locationX>
        <locationY>992</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_to_Send_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_to_Send_Email.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>forEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_the_Account_Active</name>
        <label>Is the Account Active?</label>
        <locationX>749</locationX>
        <locationY>489</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_the_Account_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users_to_Email</targetReference>
            </connector>
            <label>Yes the Account is Active</label>
        </rules>
    </decisions>
    <description>Change: Since this email is sent to each individual separately ( not all recipients appear in the &quot;To&quot; field. I added a note of who is receives the email. ( deactivated a duplicate email alert / workflow rule &quot;Notification for New Opportunity Status&quot;)

Overview: If RT = Client Opportunity and either is changed, an email is sent out: Client notes, Client Follow Up Date, Stage</description>
    <environments>Default</environments>
    <formulas>
        <name>forEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Client Opportunity Update: &apos;+{!$Record.Account.Name}+&apos; - &apos;+{!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Opportunity: Notification of Status Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Notification of Status Change</label>
    <loops>
        <name>Loop_to_Send_Email</name>
        <label>Loop to Send Email</label>
        <locationX>762</locationX>
        <locationY>852</locationY>
        <collectionReference>Get_Users_to_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Users_to_Email</name>
        <label>Get Users to Email</label>
        <locationX>759</locationX>
        <locationY>717</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_Send_Email</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 ) AND 5 AND 6 AND 7</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Assistant_Partner_Sales_Manager__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Inside_Sales_Manager__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Appointment_Set_By__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>630</locationX>
        <locationY>86</locationY>
        <connector>
            <targetReference>Is_the_Account_Active</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124A000001gz6BQAQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Client_Notes__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Client_Follow_Up_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Be advised a client has changed the Stage for one of your Opportunities.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Contact Name:&lt;/strong&gt; {!$Record.Contact__r.FirstName} {!$Record.Contact__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Opportunity Name:&lt;/strong&gt; {!$Record.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account Name:&lt;/strong&gt; {!$Record.Account.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Stage:&lt;/strong&gt; {!$Record.StageName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Amount:&lt;/strong&gt; {!$Record.Amount}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Client Follow Up Date:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.Client_Follow_Up_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Client Notes:&lt;/strong&gt; {!$Record.Client_Notes__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://amg.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Opportunity&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 10px;&quot;&gt;*&lt;/em&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;This email is sent to the following recipients&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Account: Owner&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Account: Sales Manager&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Account: Partner Performance Manager&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Opportunity: Appointment Set By&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
