force-app/main/default/flows/Opportunity_Automation_Always_Create_Pitch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_1_to_Count_of_Counties</name>
        <label>Add 1 to Count of Counties</label>
        <locationX>362</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>varNumberofCounties</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_the_Number_of_Counties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_to_Passes</name>
        <label>Add 1 to Passes</label>
        <locationX>607</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varNumberofPasses</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Comma</name>
        <label>Add Comma</label>
        <locationX>395</locationX>
        <locationY>944</locationY>
        <assignmentItems>
            <assignToReference>varCountyNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Create_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Name</name>
        <label>Add Name</label>
        <locationX>605</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>varCountyNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_Create_Name.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_to_Passes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>Bliss</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005G0000007ugXIIAY</stringValue>
        </value>
    </constants>
    <constants>
        <name>Nester</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005G0000005cpkJIAQ</stringValue>
        </value>
    </constants>
    <constants>
        <name>Schwepker</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005G0000004KaVCIA0</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Add_Product_to_Price_Book</name>
        <label>Add Product to Price Book</label>
        <locationX>1645</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inbound</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creative Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virtual Marketing Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Inbound</targetReference>
            </connector>
            <label>Inbound</label>
        </rules>
        <rules>
            <name>Outbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Outbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Outbound</targetReference>
            </connector>
            <label>Outbound</label>
        </rules>
        <rules>
            <name>Combined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Outbound_0_0</targetReference>
            </connector>
            <label>Combined</label>
        </rules>
        <rules>
            <name>Salesforce</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce Consulting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Salesforce_Setup</targetReference>
            </connector>
            <label>Salesforce</label>
        </rules>
        <rules>
            <name>Automotive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline Auto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Auto</targetReference>
            </connector>
            <label>Automotive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Required_Fields_Populated</name>
        <label>Are Required Fields Populated?</label>
        <locationX>372</locationX>
        <locationY>358</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Contact_Information.Title</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Contact_Information.Qualifiers__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Contact_Information.Metro_Area_Object__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Contact_Information.Industry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Metro_Area</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Populated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Contact_Information.Title</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Contact_Information.Qualifiers__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Contact_Information.Metro_Area_Object__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Contact_Information.Industry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Done</name>
        <label>Done?</label>
        <locationX>387</locationX>
        <locationY>1065</locationY>
        <defaultConnector>
            <targetReference>Add_Comma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberofCounties</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varNumberofPasses</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_to_Create_Name</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Existing_Opportunity</name>
        <label>Find Existing Opportunity?</label>
        <locationX>762</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>Create_New_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundExistingOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PPM_Set_Appointment</name>
        <label>PPM Set Appointment</label>
        <locationX>1162</locationX>
        <locationY>448</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Record_to_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Referred_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PPM_Team_Lookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Pitch_for_New_Opp</targetReference>
            </connector>
            <label>Referred Populated</label>
        </rules>
    </decisions>
    <description>Updated Sales Group Director to assign John Schwepker to Lauren Shelvy</description>
    <dynamicChoiceSets>
        <name>AppointmentTime</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Appt_Scheduled_Time__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IndustryList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Product</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Timezone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Appt_Scheduled_Timezone__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>forSalesGroupDirector</name>
        <dataType>String</dataType>
        <expression>CASE({!Choosen_Sales_Rep.recordName},
&quot;Matt Witte&quot;,{!Schwepker},
&quot;Joe Henthorn&quot;,{!Schwepker},
&quot;Jacob Schatteman&quot;,{!Schwepker},
&quot;Zach Bayer&quot;,{!Schwepker},
&quot;Steve Dozier&quot;,{!Schwepker},
&quot;Leo Tichy&quot;,{!Schwepker},
&quot;Ryan Neumann&quot;,{!Schwepker},
&quot;Tyler Meredith&quot;,{!Schwepker},
&quot;John Schwepker&quot;,{!Schwepker},
&quot;Elliot Nester&quot;,{!Nester},
&quot;Andrew Wittmaier&quot;,{!Nester},
&quot;Allegra Kelley&quot;,{!Nester},
&quot;Justin Grab&quot;,{!Nester},
&quot;Nathaniel Kilfoil&quot;,{!Nester},
&quot;Andrew Kunkemueller&quot;,{!Nester},
&quot;Cullen McCormick&quot;,{!Nester},
&quot;Jacob Van Hook&quot;,{!Nester},
&quot;Danielle Schermaul&quot;,{!Nester},
&quot;Ernest Brooks IV&quot;,{!Nester},
&quot;Nicholas Gee-Salter&quot;,{!Nester},
&quot;Sydney Benson&quot;,{!Nester},
&quot;Drake Rowland&quot;,{!Nester},
&quot;Jabril Wali-Uddin&quot;,{!Nester},
&quot;James Leisinger&quot;,{!Nester},
&quot;Kyle Bryan&quot;,{!Nester},
&quot;Scott McQuality&quot;,{!Bliss},
&quot;Zachary Littler-Smith&quot;,{!Nester},
&quot;Lauren Shelvy&quot;,{!Schwepker},
&quot;Michael Miller&quot;,{!Bliss},
&quot;Nicholas Carlton&quot;,{!Nester},
&quot;Maddy McCann&quot;,{!Nester},
&quot;Quinn Mulvany&quot;,{!Nester},
&quot;Zachary Miller&quot;,{!Nester},
&quot;Jakob Bliss&quot;,{!Bliss},
{!Schwepker})</expression>
    </formulas>
    <interviewLabel>Opportunity Automation (Always Create Pitch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Automation (Always Create Pitch)</label>
    <loops>
        <name>Count_the_Number_of_Counties</name>
        <label>Count the Number of Counties</label>
        <locationX>587</locationX>
        <locationY>690</locationY>
        <collectionReference>Get_Counties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_1_to_Count_of_Counties</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_to_Create_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_Create_Name</name>
        <label>Loop to Create Name</label>
        <locationX>599</locationX>
        <locationY>866</locationY>
        <collectionReference>Get_Counties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_an_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_Role_New_Contracts_Distribution</name>
        <label>Create Contact Role - New Contracts Distribution</label>
        <locationX>1037</locationX>
        <locationY>660</locationY>
        <connector>
            <targetReference>PPM_Set_Appointment</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <stringValue>0034w00003j4a1cAAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Role_Tyler_Sprock</name>
        <label>Create Contact Role - Tyler Sprock</label>
        <locationX>1028</locationX>
        <locationY>434</locationY>
        <connector>
            <targetReference>Create_Contact_Role_New_Contracts_Distribution</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <stringValue>0034w00004Edw1YAAR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Pipeline Signer</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Opportunity</name>
        <label>Create New Opportunity</label>
        <locationX>1103</locationX>
        <locationY>255</locationY>
        <assignRecordIdToReference>NewOpportunity</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact_Role_Tyler_Sprock</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_the_Contact_Information.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment_Set_Date__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Appt_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Prospect_CRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City_Region__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Appointment_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Qualified__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Company_Qualified__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Full_Name_Integration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Maker__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Decision_Maker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Influencer__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Influencer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Lead_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Generated_By__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedIn_Profile_URL__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.LinkedIn_Profile_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Contact_Email__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Contact_Name__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Full_Name_Integration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Contact_Phone__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Phone_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metro_Area__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Metro_Area_Object__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_the_Contact_Information.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Generated_By__c</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Phone__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.OtherPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Choosen_Sales_Rep.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_2__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s4A000000GdqRQAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifiers__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Qualifiers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_by_Account__c</field>
            <value>
                <elementReference>PPM_Team_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referring_PSM_If_Applicable__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Referring_PSM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Group_Manager__c</field>
            <value>
                <elementReference>forSalesGroupDirector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Pitching</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Website__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Pitch_for_New_Opp</name>
        <label>Create Pitch for New Opp</label>
        <locationX>1504</locationX>
        <locationY>249</locationY>
        <assignRecordIdToReference>NewPitchId</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Product_to_Price_Book</targetReference>
        </connector>
        <inputAssignments>
            <field>Appt_Set_Date__c</field>
            <value>
                <elementReference>Get_the_Contact_Information.Appt_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Pitch__c</field>
            <value>
                <elementReference>Appointment_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>Appointment_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Choosen_Sales_Rep.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012G0000000qd4K</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Set_By_del__c</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Appointment_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Pitch #1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Pitch</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_the_Contact_Information.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Auto</name>
        <label>Create Product - Auto</label>
        <locationX>1656</locationX>
        <locationY>67</locationY>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>795.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>795.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4A00000HGgKJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>795.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>795.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Inbound</name>
        <label>Create Product - Inbound</label>
        <locationX>1781</locationX>
        <locationY>381</locationY>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4w00000NFo0b</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Inbound_0</name>
        <label>Create Product - Inbound</label>
        <locationX>1993</locationX>
        <locationY>364</locationY>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4w00000NFo0b</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Outbound</name>
        <label>Create Product - Outbound</label>
        <locationX>1786</locationX>
        <locationY>73</locationY>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>4750.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>4750.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4w00000NFnzSAAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>4750.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>4750.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Outbound_0_0</name>
        <label>Create Product - Outbound</label>
        <locationX>1992</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Create_Product_Inbound_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>4750.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>4750.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4w00000NFnzSAAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>4750.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>4750.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Salesforce_Admin</name>
        <label>Create Product - Salesforce Admin</label>
        <locationX>1750</locationX>
        <locationY>580</locationY>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4A00000MZ0raQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Salesforce_Setup</name>
        <label>Create Product - Salesforce Setup</label>
        <locationX>1655</locationX>
        <locationY>441</locationY>
        <connector>
            <targetReference>Create_Product_Salesforce_Sub</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>1500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>1500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4A00000MZ0qNQAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>1500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>1500.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Salesforce_Sub</name>
        <label>Create Product - Salesforce Sub</label>
        <locationX>1537</locationX>
        <locationY>581</locationY>
        <connector>
            <targetReference>Create_Product_Salesforce_Admin</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <numberValue>300.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Month_Billing_Amount__c</field>
            <value>
                <numberValue>300.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4A00000MZ0qSQAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsequent_Month_Billing_Amount__c</field>
            <value>
                <numberValue>300.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>300.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Counties</name>
        <label>Get Counties</label>
        <locationX>559</locationX>
        <locationY>536</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_the_Number_of_Counties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Metro_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Metro_Area.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Metro_County__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Opportunities</name>
        <label>Get Existing Opportunities</label>
        <locationX>769</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Existing_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Screen</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metro_Area</name>
        <label>Get Metro Area</label>
        <locationX>557</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Counties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Contact_Information.Metro_Area_Object__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Metro_Area__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Contact_Information</name>
        <label>Get the Contact Information</label>
        <locationX>557</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Required_Fields_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Website__c</queriedFields>
        <queriedFields>Metro_Area__c</queriedFields>
        <queriedFields>Appt_Date__c</queriedFields>
        <queriedFields>Appt_Scheduled_Date__c</queriedFields>
        <queriedFields>Appt_Scheduled_Datetime__c</queriedFields>
        <queriedFields>How_Did_You_Hear_About_Us__c</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>UFA_7__c</queriedFields>
        <queriedFields>Phone_2__c</queriedFields>
        <queriedFields>OtherPhone</queriedFields>
        <queriedFields>Metro__c</queriedFields>
        <queriedFields>Metro_Area_Object__c</queriedFields>
        <queriedFields>Referring_PSM__c</queriedFields>
        <queriedFields>Referring_Account__c</queriedFields>
        <queriedFields>Appt_Start_Datetime__c</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>Full_Name_Integration__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Company__c</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>Company_Qualified__c</queriedFields>
        <queriedFields>Decision_Maker__c</queriedFields>
        <queriedFields>Influencer__c</queriedFields>
        <queriedFields>LinkedIn_Profile_URL__c</queriedFields>
        <queriedFields>Qualifiers__c</queriedFields>
        <queriedFields>Industry__c</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>Prospect_CRM__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>313</locationY>
        <connector>
            <targetReference>Get_the_Contact_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>IndustryUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifiers__c</field>
            <value>
                <elementReference>QualifiersUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>TitleUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Record_to_Rep</name>
        <label>Update Contact Record to Rep</label>
        <locationX>1269</locationX>
        <locationY>241</locationY>
        <connector>
            <targetReference>Create_Pitch_for_New_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Appointment_Generated_By__c</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appt_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appt_Scheduled_Date__c</field>
            <value>
                <elementReference>Appointment_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appt_Scheduled_Time__c</field>
            <value>
                <elementReference>Appointment_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appt_Scheduled_Timezone__c</field>
            <value>
                <elementReference>Timezone_screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DevOutcome__c</field>
            <value>
                <stringValue>Appt A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DevPhase__c</field>
            <value>
                <stringValue>03 Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Choosen_Sales_Rep.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Create_an_Opportunity</name>
        <label>Create an Opportunity</label>
        <locationX>766</locationX>
        <locationY>516</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Existing_Opportunities</targetReference>
        </connector>
        <fields>
            <name>Product_Screen</name>
            <choiceReferences>Product</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Industry</name>
            <choiceReferences>IndustryList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Industry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lead_Source</name>
            <choiceReferences>LeadSource</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Lead Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Choosen_Sales_Rep</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Opportunity_Generated_By__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assigned Sales Rep</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Appointment_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Appointment Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Appointment_Time</name>
            <choiceReferences>AppointmentTime</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Appointment Time</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Timezone_screen</name>
            <choiceReferences>Timezone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Timezone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PPM_Team_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>PPM USE ONLY - Designate Team Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Referred_by_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_Opportunity</name>
        <label>Existing Opportunity</label>
        <locationX>1019</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GoToExistingOpportunity</name>
            <fieldText>&lt;p&gt;This opportunity already exists.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://amg.lightning.force.com/lightning/r/Opportunity/{!Get_Existing_Opportunities.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Go To Existing Opportunity&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Contact_Screen</name>
        <label>Update Contact Screen</label>
        <locationX>203</locationX>
        <locationY>356</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <fields>
            <name>UpdateContactDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Please update missing fields.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TitleUpdate</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_the_Contact_Information.Title</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IndustryUpdate</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_the_Contact_Information.Industry__c</elementReference>
            </defaultValue>
            <fieldText>Industry</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>QualifiersUpdate</name>
            <defaultValue>
                <stringValue>{!Get_the_Contact_Information.Qualifiers__c}</stringValue>
            </defaultValue>
            <fieldText>Qualifiers</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>431</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Get_the_Contact_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewPitchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountyNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMetroAreaUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumberofCounties</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNumberofPasses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
