force-app/main/default/flows/Role_Center_Record_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_New</name>
        <label>Is New</label>
        <locationX>495</locationX>
        <locationY>367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Role_Center</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New Role Center</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Role Center: Record Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Role Center: Record Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>505</locationX>
        <locationY>489</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>0014A00002iQDE3QAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Category__c</field>
            <value>
                <stringValue>Field/Object</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department_Responsible_for_Issue__c</field>
            <value>
                <stringValue>Salesforce Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewRoleDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Guided_Case_Submission__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005G0000005ZlvQIAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Role Center Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Url_Provided__c</field>
            <value>
                <stringValue>https://amg.lightning.force.com/lightning/r/Role__c/{!$Record.Id}/view</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <object>Role__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NewRoleDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName} has created a new role for {!$Record.Company__c}&apos;s department {!$Record.Department__c}. Please review the following:
Permission Sets
Role Id
Profile Id
Public Groups</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
