force-app/main/default/flows/Training_Log_QAS_Quiz.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>ChoiceCIDQuiz</name>
        <choiceText>CID Quiz</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CID Quiz</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoicePAMQuiz</name>
        <choiceText>PAM Certification Quiz</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PAM Certification Quiz</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Correct_Permissions</name>
        <label>Correct Permissions</label>
        <locationX>231</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Not_Qualified_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Correct_Role</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eG0000000FWKC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eA0000000nBcd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eG0000000Fpj8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e4A000001V4h9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e4w000000Gnsw</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PAM_or_SDR</targetReference>
            </connector>
            <label>Correct Profile</label>
        </rules>
    </decisions>
    <decisions>
        <name>PAM_or_SDR_Quiz</name>
        <label>PAM or SDR Quiz</label>
        <locationX>511</locationX>
        <locationY>280</locationY>
        <defaultConnector>
            <targetReference>CID_Scorecard_Training_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CID Quiz</defaultConnectorLabel>
        <rules>
            <name>PAM_Quiz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_quiz_are_you_taking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoicePAMQuiz</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PAM_Quiz_Screen</targetReference>
            </connector>
            <label>PAM Quiz</label>
        </rules>
    </decisions>
    <description>Added new decision point for PAM Quiz</description>
    <dynamicChoiceSets>
        <name>choice5Services</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>List_5_services__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceAnnualCustomerRetentionRate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Annual_Customer_Retention_Rate__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceAverageProjectDealSize</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Average_Project_Deal_Size__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceAverageRecurringDealSize</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Average_Recurring_Deal_Size__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceAverageSalesCycle</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Average_Sales_Cycle__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceClientDefinitionofSuccess</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Client_Definition_of_Success__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceClientsRequests</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Client_s_Requests__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceClose</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Close__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceCompanyName</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>What_is_the_Companys_Preferred_Name__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceCompanyRevenue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Revenue__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceContractSigner</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contract_Signer__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceDisqualifier</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>What_are_their_disqualifiers__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceHasClientusedLeadGenBefore</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Has_Client_used_Lead_Gen_Before__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceIntro</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Intro__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceKDMthatAttendsMRM</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>KDM_that_Attends_MRM__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceLocation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Where_are_they_located_what_landmarks__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceMockCallAttempts</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mock_Call_Attempts__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceofPeopleGoingonAppointments</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>of_People_Going_on_Appointments__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePeopleInvolvedwStayorCancelStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>People_Involved_w_Stay_or_Cancel_Status__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePercentofLeadsthatareInbound</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Percent_of_Leads_that_are_Inbound__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePercentofLeadsthatareOutbound</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Percent_of_Leads_that_are_Outbound__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePercentofLeadsthatareReferral</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Percent_of_Leads_that_are_Referral__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePetPeeves</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pet_Peeves__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceQualifiers</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>What_are_their_qualifiers__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSalesGoalthisYear</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sales_Goal_this_Year__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSalesProcess</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sales_Process__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Training_Log_Status__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceTitleLevelofMainPOC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Title_Level_of_Main_POC__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceValueProps</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Give_3_value_propositions__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceWhytheySignedOnwAbstrakt</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Why_they_Signed_On_w_Abstrakt__c</picklistField>
        <picklistObject>Training_Log__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forQASUrl</name>
        <dataType>String</dataType>
        <expression>&quot;https://amg.lightning.force.com/lightning/r/Training_Log__c/&quot;+{!varNewQAS}+&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>forToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Training Log: Client Certification Test / CID Quiz {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training Log: Client Certification Test / CID Quiz</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CID_Client_Certification_Test_Training_Log</name>
        <label>Create CID &quot;Client Certification Test&quot; Training Log</label>
        <locationX>785</locationX>
        <locationY>276</locationY>
        <assignRecordIdToReference>varNewQAS</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Case_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_s_Requests_Feedback__c</field>
            <value>
                <elementReference>Client_s_Requests_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_s_Requests__c</field>
            <value>
                <elementReference>Client_s_Requests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Feedback__c</field>
            <value>
                <elementReference>Close_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close__c</field>
            <value>
                <elementReference>Close</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Preferred_Name_Feedback__c</field>
            <value>
                <elementReference>Company_s_Name_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_Date__c</field>
            <value>
                <elementReference>Completed_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disqualifiers_Feedback__c</field>
            <value>
                <elementReference>Disqualifiers_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Name__c</field>
            <value>
                <elementReference>EmployeeName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Give_3_value_propositions__c</field>
            <value>
                <elementReference>Give_3_Value_Propositions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intro_Feedback__c</field>
            <value>
                <elementReference>Intro_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intro__c</field>
            <value>
                <elementReference>Intro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_5_services__c</field>
            <value>
                <elementReference>List_5_Services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Landmark_Feedback__c</field>
            <value>
                <elementReference>Location_Landmark_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mock_Call_Attempts__c</field>
            <value>
                <elementReference>Mock_Call_Attempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mock_Call_Facilitator__c</field>
            <value>
                <elementReference>varMockCallFacilitatorID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifies_Feedback__c</field>
            <value>
                <elementReference>Qualifiers_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124w000001YpxjAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Log_Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verbal_Score_Feedback__c</field>
            <value>
                <elementReference>Verbal_Score_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_are_their_disqualifiers__c</field>
            <value>
                <elementReference>What_are_their_disqualifiers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_are_their_qualifiers__c</field>
            <value>
                <elementReference>What_are_their_qualifiers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_the_Companys_Preferred_Name__c</field>
            <value>
                <elementReference>What_is_the_Company_s_Name_Preferred_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Where_are_they_located_what_landmarks__c</field>
            <value>
                <elementReference>Where_are_they_located_what_landmarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3_Value_Propositions_Feedback__c</field>
            <value>
                <elementReference>X3_Value_Propositions_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3_common_objections_and_your_rebuttal__c</field>
            <value>
                <elementReference>X3_Probing_Questions_used_during_a_pitch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3_common_objections_rebuttal_Feedback__c</field>
            <value>
                <elementReference>X3_Probing_Questions_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X5_Services_Feedback__c</field>
            <value>
                <elementReference>X5_Services_Feedback</elementReference>
            </value>
        </inputAssignments>
        <object>Training_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_CID_Client_Certification_Test_Training_Log_0</name>
        <label>Create CID &quot;Client Certification Test&quot; Training Log</label>
        <locationX>655</locationX>
        <locationY>457</locationY>
        <assignRecordIdToReference>varNewQAS</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Case_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountNamePAM.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actual_Inbound_Percentage__c</field>
            <value>
                <elementReference>Actual_Inbound_Percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actual_Outbound_Percentage__c</field>
            <value>
                <elementReference>Actual_Outbound_Percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actual_Referral_Percentage__c</field>
            <value>
                <elementReference>Actual_Referral_Percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Annual_Customer_Retention_Rate_Feedback__c</field>
            <value>
                <elementReference>Annual_Customer_Retention_Rate_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Annual_Customer_Retention_Rate__c</field>
            <value>
                <elementReference>Annual_Customer_Retention_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Average_Project_Deal_Size__c</field>
            <value>
                <elementReference>Average_Project_Deal_Size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Average_Recurring_Deal_Size__c</field>
            <value>
                <elementReference>Average_Recurring_Deal_Size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Average_Sales_Cycle_Feedback__c</field>
            <value>
                <elementReference>Average_Sales_Cycle_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Average_Sales_Cycle__c</field>
            <value>
                <elementReference>Average_Sales_Cycle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Case_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Definition_of_Success__c</field>
            <value>
                <elementReference>Client_Definition_of_Success</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Revenue_Feedback__c</field>
            <value>
                <elementReference>Company_Revenue_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Revenue__c</field>
            <value>
                <elementReference>Company_Revenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_Date__c</field>
            <value>
                <elementReference>Completed_Date_PAM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Signer_Feedback__c</field>
            <value>
                <elementReference>Contract_Signer_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Signer__c</field>
            <value>
                <elementReference>Contract_Signer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Definition_of_Success_Feedback__c</field>
            <value>
                <elementReference>Definition_of_Success_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Name__c</field>
            <value>
                <elementReference>EmployeeNamePAM.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Client_used_Lead_Gen_Before__c</field>
            <value>
                <elementReference>Has_Client_used_Lead_Gen_Before</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KDM_that_Attends_MRM_Feedback__c</field>
            <value>
                <elementReference>KDM_that_Attends_MRM_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KDM_that_Attends_MRM__c</field>
            <value>
                <elementReference>KDM_that_Attends_MRM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Training_Log_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Past_Lead_Gen_Feedback__c</field>
            <value>
                <elementReference>Past_Lead_Gen_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>People_Involved_w_Stay_or_Cancel_Status__c</field>
            <value>
                <elementReference>People_Involved_w_Stay_or_Cancel_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percent_of_Leads_that_are_Inbound__c</field>
            <value>
                <elementReference>Percent_of_Leads_that_are_Inbound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percent_of_Leads_that_are_Outbound__c</field>
            <value>
                <elementReference>Percent_of_Leads_that_are_Outbound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percent_of_Leads_that_are_Referral__c</field>
            <value>
                <elementReference>Percent_of_Leads_that_are_Referral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pet_Peeves_Feedback__c</field>
            <value>
                <elementReference>Pet_Peeves_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pet_Peeves__c</field>
            <value>
                <elementReference>Pet_Peeves</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Deal_Size_Feedback__c</field>
            <value>
                <elementReference>Project_Deal_Size_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0127h000000d8IhAAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recurring_Deal_Size_Feedback__c</field>
            <value>
                <elementReference>Recurring_Deal_Size_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Goal_this_Year_Feedback__c</field>
            <value>
                <elementReference>Sales_Goal_this_Year_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Goal_this_Year__c</field>
            <value>
                <elementReference>Sales_Goal_this_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Process_Feedback__c</field>
            <value>
                <elementReference>Sales_Process_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Process__c</field>
            <value>
                <elementReference>Sales_Process</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stay_or_Cancel_Status_Feedback__c</field>
            <value>
                <elementReference>Stay_or_Cancel_Status_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Level_of_Main_POC_Feedback__c</field>
            <value>
                <elementReference>Title_Level_of_Main_POC_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Level_of_Main_POC__c</field>
            <value>
                <elementReference>Title_Level_of_Main_POC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Log_Status__c</field>
            <value>
                <elementReference>Training_Log_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_they_Signed_On_Feedback__c</field>
            <value>
                <elementReference>Why_they_Signed_On_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_they_Signed_On_w_Abstrakt__c</field>
            <value>
                <elementReference>Why_they_Signed_On_w_Abstrakt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_People_Feedback__c</field>
            <value>
                <elementReference>of_People_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_People_Going_on_Appointments__c</field>
            <value>
                <elementReference>of_People_Going_on_Appointments</elementReference>
            </value>
        </inputAssignments>
        <object>Training_Log__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Info</name>
        <label>Get Case Info</label>
        <locationX>240</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Correct_Permissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>915</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Training_Log_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>URLs_Provided_by_Submitter__c</field>
            <value>
                <elementReference>forQASUrl</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0</name>
        <label>Update Case</label>
        <locationX>786</locationX>
        <locationY>461</locationY>
        <connector>
            <targetReference>Training_Log_Link_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>URLs_Provided_by_Submitter__c</field>
            <value>
                <elementReference>forQASUrl</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <description>Grades new hires on the client&apos;s Client Information Document</description>
        <name>CID_Scorecard_Training_Log</name>
        <label>CID Scorecard / Training Log</label>
        <locationX>654</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_CID_Client_Certification_Test_Training_Log</targetReference>
        </connector>
        <fields>
            <name>CID_Scorecard_Training_Log_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CID_Scorecard_Training_Log_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmployeeName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Employee Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Training_Log__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Employee_Name__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Case_Info.Employee__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CID_Scorecard_Training_Log_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Training_Log__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Case_Info.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Mock_Call_Attempts</name>
            <choiceReferences>choiceMockCallAttempts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mock Call Attempts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CID_Scorecard_Training_Log_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CID_Scorecard_Training_Log_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Completed_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>forToday</elementReference>
                    </defaultValue>
                    <fieldText>Completed Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CID_Scorecard_Training_Log_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status</name>
                    <choiceReferences>choiceStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Planned</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CID_Scorecard_Training_Log_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CID_Scorecard_Training_Log_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_is_the_Company_s_Name_Preferred_Name</name>
                    <choiceReferences>choiceCompanyName</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue></stringValue>
                    </defaultValue>
                    <fieldText>Company Name, Preferred Name, Main POC?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CID_Scorecard_Training_Log_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Company_s_Name_Feedback</name>
                    <fieldText>Company&apos;s Name Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CID_Scorecard_Training_Log_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CID_Scorecard_Training_Log_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Where_are_they_located_what_landmarks</name>
                    <choiceReferences>choiceLocation</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue></stringValue>
                    </defaultValue>
                    <fieldText>What’s the address, timezone, &amp; landmarks?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CID_Scorecard_Training_Log_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location_Landmark_Feedback</name>
                    <fieldText>Location &amp; Landmark Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CID_Scorecard_Training_Log_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CID_Scorecard_Training_Log_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_are_their_qualifiers</name>
                    <choiceReferences>choiceQualifiers</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue></stringValue>
                    </defaultValue>
                    <fieldText>What are their qualifiers?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CID_Scorecard_Training_Log_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Qualifiers_Feedback</name>
                    <fieldText>Qualifiers Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CID_Scorecard_Training_Log_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CID_Scorecard_Training_Log_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_are_their_disqualifiers</name>
                    <choiceReferences>choiceDisqualifier</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What are their disqualifiers?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CID_Scorecard_Training_Log_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Disqualifiers_Feedback</name>
                    <fieldText>Disqualifiers Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CID_Scorecard_Training_Log_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CID_Scorecard_Training_Log_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>List_5_Services</name>
                    <choiceReferences>choice5Services</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue></stringValue>
                    </defaultValue>
                    <fieldText>List 5 Services</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CID_Scorecard_Training_Log_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X5_Services_Feedback</name>
                    <fieldText>5 Services Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CID_Scorecard_Training_Log_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CID_Scorecard_Training_Log_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Intro</name>
                    <choiceReferences>choiceIntro</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue></stringValue>
                    </defaultValue>
                    <fieldText>Intro</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CID_Scorecard_Training_Log_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Intro_Feedback</name>
                    <fieldText>Intro Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CID_Scorecard_Training_Log_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CID_Scorecard_Training_Log_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Give_3_Value_Propositions</name>
                    <choiceReferences>choiceValueProps</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue></stringValue>
                    </defaultValue>
                    <fieldText>Give 3 Value Propositions</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CID_Scorecard_Training_Log_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X3_Value_Propositions_Feedback</name>
                    <fieldText>3 Value Propositions Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CID_Scorecard_Training_Log_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CID_Scorecard_Training_Log_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client_s_Requests</name>
                    <choiceReferences>choiceClientsRequests</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue></stringValue>
                    </defaultValue>
                    <fieldText>Client&apos;s Requests</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CID_Scorecard_Training_Log_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client_s_Requests_Feedback</name>
                    <fieldText>Client&apos;s Requests Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CID_Scorecard_Training_Log_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CID_Scorecard_Training_Log_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X3_Probing_Questions_used_during_a_pitch</name>
                    <fieldText>3 Probing Questions used during a pitch?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CID_Scorecard_Training_Log_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X3_Probing_Questions_Feedback</name>
                    <fieldText>3 Probing Questions Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CID_Scorecard_Training_Log_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CID_Scorecard_Training_Log_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Close</name>
                    <choiceReferences>choiceClose</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Close</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CID_Scorecard_Training_Log_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Close_Feedback</name>
                    <fieldText>Close Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Verbal_Score_Feedback</name>
            <fieldText>Verbal Score Feedback</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Qualified_Screen</name>
        <label>Not Qualified Screen</label>
        <locationX>50</locationX>
        <locationY>273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WrongProfile</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;You don&apos;t have the correct permissions to complete this scorecard. Please contact the account&apos;s TDA.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PAM_or_SDR</name>
        <label>PAM or SDR</label>
        <locationX>396</locationX>
        <locationY>286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PAM_or_SDR_Quiz</targetReference>
        </connector>
        <fields>
            <name>What_type_of_quiz_are_you_taking</name>
            <choiceReferences>ChoiceCIDQuiz</choiceReferences>
            <choiceReferences>ChoicePAMQuiz</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of quiz are you taking?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PAM_Quiz_Screen</name>
        <label>PAM Quiz Screen</label>
        <locationX>528</locationX>
        <locationY>457</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_CID_Client_Certification_Test_Training_Log_0</targetReference>
        </connector>
        <fields>
            <name>PAM_Quiz_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Training_Log_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Training Log Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EmployeeNamePAM</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Employee_Name__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Employee Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Training_Log__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountNamePAM</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Training_Log__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Training_Log_Status</name>
                    <choiceReferences>choiceStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Training Log Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Completed_Date_PAM</name>
                    <dataType>Date</dataType>
                    <fieldText>Completed Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KDM_that_Attends_MRM</name>
                    <choiceReferences>ChoiceKDMthatAttendsMRM</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>KDM that Attends MRM</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KDM_that_Attends_MRM_Feedback</name>
                    <fieldText>KDM that Attends MRM Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Title_Level_of_Main_POC</name>
                    <choiceReferences>ChoiceTitleLevelofMainPOC</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Title Level of Main POC</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Title_Level_of_Main_POC_Feedback</name>
                    <fieldText>Title Level of Main POC Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Has_Client_used_Lead_Gen_Before</name>
                    <choiceReferences>ChoiceHasClientusedLeadGenBefore</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has Client used Lead Gen. Before</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Past_Lead_Gen_Feedback</name>
                    <fieldText>Past Lead Gen. Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>People_Involved_w_Stay_or_Cancel_Status</name>
                    <choiceReferences>ChoicePeopleInvolvedwStayorCancelStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>People Involved w/ Stay or Cancel Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Stay_or_Cancel_Status_Feedback</name>
                    <fieldText>Stay or Cancel Status Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Signer</name>
                    <choiceReferences>ChoiceContractSigner</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Contract Signer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Signer_Feedback</name>
                    <fieldText>Contract Signer Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>of_People_Going_on_Appointments</name>
                    <choiceReferences>ChoiceofPeopleGoingonAppointments</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText># of People Going on Appointments</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>of_People_Feedback</name>
                    <fieldText># of People Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pet_Peeves</name>
                    <choiceReferences>ChoicePetPeeves</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pet Peeves</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pet_Peeves_Feedback</name>
                    <fieldText>Pet Peeves Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Why_they_Signed_On_w_Abstrakt</name>
                    <choiceReferences>ChoiceWhytheySignedOnwAbstrakt</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Why they Signed On w/ Abstrakt</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Why_they_Signed_On_Feedback</name>
                    <fieldText>Why they Signed On Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client_Definition_of_Success</name>
                    <choiceReferences>ChoiceClientDefinitionofSuccess</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Client Definition of Success</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Definition_of_Success_Feedback</name>
                    <fieldText>Definition of Success Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Company_Revenue</name>
                    <choiceReferences>ChoiceCompanyRevenue</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Company Revenue</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Company_Revenue_Feedback</name>
                    <fieldText>Company Revenue Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Average_Project_Deal_Size</name>
                    <choiceReferences>ChoiceAverageProjectDealSize</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Average Project Deal Size</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Deal_Size_Feedback</name>
                    <fieldText>Project Deal Size Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Average_Recurring_Deal_Size</name>
                    <choiceReferences>ChoiceAverageRecurringDealSize</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Average Recurring Deal Size</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Recurring_Deal_Size_Feedback</name>
                    <fieldText>Recurring Deal Size Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Average_Sales_Cycle</name>
                    <choiceReferences>ChoiceAverageSalesCycle</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Average Sales Cycle</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section14_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Average_Sales_Cycle_Feedback</name>
                    <fieldText>Average Sales Cycle Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section15</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section15_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Annual_Customer_Retention_Rate</name>
                    <choiceReferences>ChoiceAnnualCustomerRetentionRate</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Annual Customer Retention Rate</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section15_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Annual_Customer_Retention_Rate_Feedback</name>
                    <fieldText>Annual Customer Retention Rate Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section16</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section16_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sales_Goal_this_Year</name>
                    <choiceReferences>ChoiceSalesGoalthisYear</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sales Goal this Year</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section16_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sales_Goal_this_Year_Feedback</name>
                    <fieldText>Sales Goal this Year Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section17</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section17_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sales_Process</name>
                    <choiceReferences>ChoiceSalesProcess</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sales Process</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section17_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sales_Process_Feedback</name>
                    <fieldText>Sales Process Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section18</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section18_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Percent_of_Leads_that_are_Referral</name>
                    <choiceReferences>ChoicePercentofLeadsthatareReferral</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Percent of Leads that are Referral</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section18_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Referral_Percentage</name>
                    <dataType>String</dataType>
                    <fieldText>Actual Referral Percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section19</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section19_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Percent_of_Leads_that_are_Inbound</name>
                    <choiceReferences>ChoicePercentofLeadsthatareInbound</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Percent of Leads that are Inbound</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section19_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Inbound_Percentage</name>
                    <dataType>String</dataType>
                    <fieldText>Actual Inbound Percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PAM_Quiz_Screen_Section20</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PAM_Quiz_Screen_Section20_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Percent_of_Leads_that_are_Outbound</name>
                    <choiceReferences>ChoicePercentofLeadsthatareOutbound</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Percent of Leads that are Outbound</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PAM_Quiz_Screen_Section20_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Outbound_Percentage</name>
                    <dataType>String</dataType>
                    <fieldText>Actual Outbound Percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Training_Log_Link</name>
        <label>Training Log Link</label>
        <locationX>1050</locationX>
        <locationY>275</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TrainingLogLink</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!varNewQAS}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Please click here to view Training Log&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Training_Log_Link_0</name>
        <label>Training Log Link</label>
        <locationX>918</locationX>
        <locationY>460</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TrainingLogLink_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!varNewQAS}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Please click here to view Training Log&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>115</locationX>
        <locationY>20</locationY>
        <connector>
            <targetReference>Get_Case_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NameTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>CID Quiz: {!EmployeeName.recordName} - {!AccountName.recordName}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMockCallFacilitatorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewQAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
